#menu1, #menu5 {
  display: none; }

.folyamat .row .circlewoman {
  background-image: url("../img/Dude-MrMarketing.png"); }

.csatlakozz .row {
  padding-top: 45px !important; }

#reftitle {
  display: block; }
