.navbar-default {
  background-color: #1E777A;
  height: 80px;
  z-index: 10000;
  border: none;
  border-radius: 0px; }

.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 15px;
  font-family: Droid Sans, sans-serif;
  font-weight: 400;
  margin: 1rem;
  padding-top: 20px; }

.navbar-default .navbar-nav > li > a:hover {
  color: white; }

.navbar-default .navbar-nav > li:after {
  content: "";
  display: block;
  background-color: #83B999;
  height: 4px;
  width: 0%;
  text-align: center;
  margin: 0 auto;
  margin-top: -18px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }

.navbar-default .navbar-nav > li:hover:after {
  content: "";
  display: block;
  background-color: #83B999;
  height: 4px;
  width: 92%;
  text-align: center;
  margin: 0 auto;
  margin-top: -18px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: white; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent; }

.active:after {
  content: "";
  display: block;
  background-color: #83B999;
  height: 4px;
  width: 92% !important;
  text-align: center;
  margin: 0 auto;
  margin-top: -18px;
  z-index: 100000000; }

.navbar-brand {
  padding: 0px 15px; }

.navbar-brand {
  background-image: url(../img/Logo_CMYK_Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 210px; }

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin-right: 15px; } }
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #1E777A; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  margin-top: 6px; }

.navbar-toggle {
  margin-top: 15px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #0D6063; }

@media(max-width: 1142px) {
  .navbar-header {
    float: none; }

  .navbar-left {
    float: none !important; }

  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid white;
    box-shadow: none; }
    .navbar-collapse.collapse {
      display: none !important; }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    padding-bottom: 10px; }
    .navbar-nav li {
      float: none; }
      .navbar-nav li a {
        padding-top: 10px;
        padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .navbar.navbar-default .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important; }

  .navbar-default {
    border-radius: 0px !important; }

  .active:after {
    content: "";
    display: block;
    background-color: #83B999;
    height: 4px;
    width: 300px !important;
    text-align: left;
    margin-top: -18px;
    z-index: 100000000; } }
@media (max-width: 767px) {
  .navbar-toggle {
    margin-right: 35px; } }
@media (max-width: 992px) {
  .navbar-default .navbar-nav > li:after {
    position: absolute;
    margin-left: 20px;
    margin-top: -14px;
    width: 0px; }

  .navbar-default .navbar-nav > li:hover:after {
    position: absolute;
    margin-left: 20px;
    margin-top: -14px;
    width: 230px; } }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 390px; }

/*# sourceMappingURL=header.css.map */
