header {
  align-items: center;
  background-color: #1E777A;
  display: flex;
  flex-direction: row;
  height: 7rem;
  padding: 0 15px;
  position: fixed;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 100000000; }

.site-logo {
  background-image: url(/img/Logo_CMYK_Background.png);
  background-size: contain;
  width: 190px;
  background-repeat: no-repeat;
  height: 70px; }

.ok-header__logo:hover {
  color: #1E777A; }

.okayNav a {
  color: white;
  font-weight: 400;
  text-transform: uppercase; }

.okayNav__menu-toggle span {
  background-color: white; }

.okayNav__menu-toggle.icon--active span {
  background-color: white; }

.okayNav__nav--invisible, .okayNav__nav--invisible a {
  background-color: #1E777A; }

body.okayNav-loaded {
  overflow: hidden; }
