/* ==========================================================================
 *articletitle
 *==========================================================================
.elonyok
	h2
		margin: 1rem


	.one:before
		content: "1"
		height: 40px
		width: 40px
		border: 2px solid $green
		border-radius: 500px
		display: block
		text-align: center
		padding-top: 1px
		margin-bottom: 12px

	.two:before
		content: "2"
		height: 40px
		width: 40px
		border: 2px solid $green
		border-radius: 500px
		display: block
		text-align: center
		padding-top: 1px
		margin-bottom: 12px

	.three:before
		content: "3"
		height: 40px
		width: 40px
		border: 2px solid $green
		border-radius: 500px
		display: block
		text-align: center
		padding-top: 1px
		margin-bottom: 12px

	.four:before
		content: "4"
		height: 40px
		width: 40px
		border: 2px solid $green
		border-radius: 500px
		display: block
		text-align: center
		padding-top: 1px
		margin-bottom: 12px
	.articletitle
		background-color: $whitebg
		.container
			max-width: 800px
			padding-top: 80px
			padding-bottom: 50px
			
			.row
				margin-top: 90px

				.placeholder
					background-image: url("../img/tesztbg1.png")
					height: 620px
					background-repeat: no-repeat
					background-position: center
					background-size: cover

				.text
					padding-top: 10px
.elonyok .articletitle .container .row.nr1
	margin-top: 30px
/* ==========================================================================

@media (max-width: 992px)
	.elonyok .articletitle .container .row .placeholder
		height: 280px
	.elonyok .articletitle .container .row .text
		padding-top: 30px

	.elonyok .container .row .col-md-6
		padding-left: 1rem
	.elonyok .articletitle .container .row
		margin-top: 30px