@import "colors"

/* ==========================================================================
 *cover
 *==========================================================================

.rolunk
	.articletitle
		.container
			padding-bottom: 0px
	.articlecover
		background-color: $whitebg

		.container
			background-image: url("../img/process.png")
			background-size: cover
			max-width: 800px
			background-repeat: no-repeat
			height: 200px

/* ==========================================================================
 *team
 *==========================================================================

.rolunk
	.team
		background-color: $whitebg
		padding-bottom: 80px
		.container
			padding-top: 50px
			max-width: 800px



@media (min-width: 992px)
	.rolunk
		.team
			.container-fluid
				padding-right: 0px

				h2
					text-align: center
					padding-bottom: 50px
					padding-top: 80px



				.col-lg-8.col-md-8.col-sm-8
					.container-fluid
						padding-right: 0px
						.col-lg-4.col-md-6.col-sm-6
							height: 330px
							margin-bottom: 83px
							border-left: 40px solid #FAFAFA
							border-radius: 600px
							text-align: center
							border-right: 40px solid #FAFAFA

							p
								Color: White
								font-weight: 800
								margin-top: 250px

							p:after
								content: ""
								height: 2px
								display: block
								width: 21px
								text-align: center
								margin: 0 auto
								margin-top: 5px
								background-color: white



						#ph1
							background-image: url("../img/Gizella_Bartha.jpg")
							background-repeat: no-repeat
							background-size: cover
							background-position: center
							height: 330px
							margin-bottom: 83px
							border-radius: 600px
							text-align: center
							position: absolute
							width: 100%

						#ph2
							background-image: url("../img/caprio.jpg")
							background-repeat: no-repeat	
							background-size: cover
							background-position: center
							height: 330px
							margin-bottom: 83px
							border-radius: 600px
							text-align: center
							position: absolute
							width: 100%
							transition: all 0.3s ease-in
							-webkit-transition: all 0.3s ease-in
							-moz-transition: all 0.3s ease-in
							-ms-transition: all 0.3s ease-in
							-o-transition: all 0.3s ease-in
							
						#ph2:hover




						#p2
							background-image: url("../img/Gizella_Bartha-2.jpg")
							background-repeat: no-repeat
							background-size: cover
							background-position: center
							transition: all 0.3s ease-in
							-webkit-transition: all 0.3s ease-in
							-moz-transition: all 0.3s ease-in
							-ms-transition: all 0.3s ease-in
							-o-transition: all 0.3s ease-in

						#p2:hover
							background-image: url("../img/Gizella_Bartha.jpg")
							p
								display: none

						#p3
							background-image: url("../img/Balazs_Fonagy-2.jpg")
							background-repeat: no-repeat
							background-size: cover
							background-position: center
							transition: all 0.3s ease-in
							-webkit-transition: all 0.3s ease-in
							-moz-transition: all 0.3s ease-in
							-ms-transition: all 0.3s ease-in
							-o-transition: all 0.3s ease-in

						#p3:hover
							background-image: url("../img/Balazs_Fonagy.jpg")
							p
								display: none

						#p4
							background-image: url("../img/Michal_Matus-2.jpg")
							background-repeat: no-repeat
							background-size: cover
							background-position: center
							transition: all 0.3s ease-in
							-webkit-transition: all 0.3s ease-in
							-moz-transition: all 0.3s ease-in
							-ms-transition: all 0.3s ease-in
							-o-transition: all 0.3s ease-in

						#p4:hover
							background-image: url("../img/Michal_Matus.jpg")
							p
								display: none

						#p5
							background-image: url("../img/Tamas_Lichter-2.jpg")
							background-repeat: no-repeat
							background-size: cover
							background-position: center
							transition: all 0.3s ease-in
							-webkit-transition: all 0.3s ease-in
							-moz-transition: all 0.3s ease-in
							-ms-transition: all 0.3s ease-in
							-o-transition: all 0.3s ease-in

						#p5:hover
							background-image: url("../img/Tamas_Lichter.jpg")
							p
								display: none


						#p6
							background-image: url("../img/Kata_Csankovszki-2.jpg")
							background-repeat: no-repeat
							background-size: cover
							background-position: center
							transition: all 0.3s ease-in	
							-webkit-transition: all 0.3s ease-in
							-moz-transition: all 0.3s ease-in
							-ms-transition: all 0.3s ease-in
							-o-transition: all 0.3s ease-in
							
						#p6:hover
							background-image: url("../img/Kata_Csankovszki.jpg")
							p
								display: none

				.persondescription
					background-color: $whitebg
					padding: 60px
					border-right: 45px solid $whitebg
					border-left: 40px solid $whitebg
					background-color: $grey