doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
	html.no-js.lt-ie9.lt-ie8  
//if IE 8
	html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
	// <![endif]
	html.no-js(lang='en')
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Testbirds
		link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
		meta(name='description', content='whatever')
		meta(name='keywords', content='html5 template, css3, one page, animations, agency, portfolio, web design')
		meta(name='author', content='Kristof Vizy')


		link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
		link(rel='shortcut icon', href='favicon.ico')

		link(rel='stylesheet', href='css/basic-styles.css', media='screen')
		link(href='css/merge.css', rel='stylesheet')		

		link(rel='stylesheet', href='css/header.css', media='screen')
		// Facebook and Twitter integration
		meta(property='og:title', content='')
		meta(property='og:image', content='')
		meta(property='og:url', content='')
		meta(property='og:site_name', content='')
		meta(property='og:description', content='')
		meta(name='twitter:title', content='')
		meta(name='twitter:image', content='')
		meta(name='twitter:url', content='')
		meta(name='twitter:card', content='')
		script(src='bower_components/jquery/dist/jquery.js')		
		script(src='bower_components/jquery/dist/jquery.min.js')		
		script(src='bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='js/modernizr.custom.js')
		script(src='js/snap.svg-min.js')




	body
		#pagewrap
			nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.pageload-link.navbar-brand(href='index.html') 
					// Collect the nav links, forms, and other content for toggling
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a.pageload-link(href='rolunk.html') Rólunk

							li
								a.pageload-link(href='elonyok.html') Miért mi?
							li
								a.pageload-link(href='funkcionalis.html') Funkcionális tesztelés
							li
								a.pageload-link(href='felhasznaloi.html') Felhasználói élmény kutatás
							li
								a.pageload-link(href='kapcsolat.html') Kapcsolat
		.container.elonyok
			.articletitle
				.container
					h1 A crowdtesting előnyei
					h2 TÁRD FEL TESZTELŐINK SEGÍTSÉGÉVEL FELHASZNÁLÓI FELÜLETEID MŰKÖDÉSI HIBÁIT ÉS FELHASZNÁLÓI ÉLMÉNYÉT!

					.row.nr1
						.col-md-6#placeholder1
						.col-md-6.text
							h2.one Releváns célcsoport<br>
							ul
								li 10.000 hazai és 100.000 nemzetközi regisztrált tesztelő, akik között 50 különféle kritérium alapján te is megtalálhatod a célcsoportodba eső embereket;
							ul
								li A célcsoportok meghatározásánál legjellemzőbb szempontok lehetnek: demográfiai tényezők, érdeklődési körök és felhasználói szokások;
							ul
								li Tesztelőink között vannak átlagfelhasználók, profi tesztelők és speciális területek szakértői is;
							ul
								li Hozhatod a saját tesztelői bázisod is, ha saját ügyfélköröddel vagy dolgozóiddal szeretnél tesztelni.

					.row
						.col-md-6#placeholder2
						.col-md-6.text
							h2.two Eszközök széles választéka<br>
							ul
								li Több mint … regisztrált okostelefon és több mint … regisztrált tablet, … különféle modell, minden mobil OS: Android, iOS, Windows Phone, Blackberry is megtalálható a crowd-ban;

							ul
								li Több mint … PC és Mac regisztrálva. Bármely operációs rendszer és böngésző kombináció azonnal elérhető: IE, Firefox, Chrome, Opera, Safari, OS X-en és Windows-on egyaránt;

							ul
								li Több száz regisztrált Smart TV és különböző set-top-boksz;
							ul
								li Játékokat is tesztelünk! Konzolokon, mobilon és böngészőben egyaránt.



					.row
						.col-md-6#placeholder3
						.col-md-6.text
							h2.three Elfogulatlan tesztelők<br>
							ul
								li A tesztelések valós körülmények között zajlanak, nem teremtünk mesterséges környezetet;	
							ul
								li Tesztelőinktől őszinte, elfogulatlan visszajelzésekre számíthatsz;
							ul
								li A visszajelzéseket a duplikációktól megszűrve, minőségellenőrzést követően adjuk át részedre;
							ul
								li Tesztelőinket motiváljuk a feladatok végrehajtására, így biztos lehetsz az eredmény kiváló minőségében.
							ul
								li Tesztelőink hétvégén is dolgoznak, így még gyorsabb visszajelzésekre számíthat.
					.row
						.col-md-6#placeholder4
						.col-md-6.text
							h2.four Visszajelzések rövid időn belül<br>
							ul
								li A fejlesztési fázis különböző szakaszaiban is segítséget adhat a crowdtesting: Papíron létező koncepciót, wireframe-t, mockup-ot, kattintható drótvázat, teszt verziót vagy akár éles megoldást is tesztelünk;
							ul
								li Funkcionális tesztek akár 48 órán belül;
							ul
								li Felhasználói élmény kutatások akár 2 hetes átfutási idővel;
							ul
								li A tesztelési feladatokat képzett projektmenedzserek, kutatók koordinálják, ezzel biztosítva az elvárt határidők betartását és a kiváló minőséget.



		footer.container-fluid
			.row
				.col-md-4
					h5 Legutóbbi blogbejegyzések
					a Etikus design – Az AMUSE konferencián jártunk<br>
					a Szek.org: Hogyan javítsuk online felületünket?<br>
					a UX teszt: A kutatási kérdések tisztázása<br>
					a UX teszt: A célok tisztázása<br>
					a UX teszt: Az elvárások tisztázása<br>
				.col-md-2
				.col-md-3
					h5 Oldaltérkép
					a Rólunk<br>
					a Miért mi?<br>
					a Funkcionális tesztelés<br>
					a Felhasználói élmény kutatás<br>
					a Kapcsolat<br>
				.col-md-3
					h5 Kapcsolat
					p 1118 Budapest,<br>
					p Himfy utca 1.<br>
					p (30) 569 5988
					p info@testbirds.hu

		#loader.pageload-overlay
			svg#loaderSvg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewbox='0 0 80 60')
				path#loaderPath


		script(src='js/classie.js')
		script(src='js/loader.js')
		script(src='js/svgLoader.js')
		script.
			(function() {
			docInteractive('spill');
			var pageWrap = document.getElementById( 'pagewrap' ),
			triggerLoading = [].slice.call( pageWrap.querySelectorAll( 'a.pageload-link' ) ),
			loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 450 } );
			function init() {
			triggerLoading.forEach( function( trigger ) {
			trigger.addEventListener( 'click', function( ev ) {
			ev.preventDefault();
			loader.show();
			setTimeout( function() {
			loader.hide();
			linkTag = $(ev.target).is('a')? $(ev.target) : $(ev.target).parents('a');
			link = $(linkTag).attr('href');
			document.location.href = link;
			}, 1000 );
			} );
			} );
			}
			init();
			})();	
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		// build:js js/jquery.okayNav-min.js
		script(src='js/jquery.okayNav.js')
		// endbuild
		script(type='text/javascript').
			var navigation = $('#nav-main').okayNav();
