doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7	
//if IE 7
	html.no-js.lt-ie9.lt-ie8	
//if IE 8
	html.no-js.lt-ie9	
// [if gt IE 8]
html.no-js
	// <[endif]
	html.no-js(lang='en')
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Testbirds
		link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
		meta(name='description', content='whatever')
		meta(name='keywords', content='html5 template, css3, one page, animations, agency, portfolio, web design')
		meta(name='author', content='Kristof Vizy')


		link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
		link(rel='shortcut icon', href='favicon.ico')

		link(rel='stylesheet', href='css/basic-styles.css', media='screen')
		link(href='css/merge.css', rel='stylesheet')
		link(href='css/flickity.css', rel='stylesheet')
		link(rel='stylesheet', href='css/header.css', media='screen')
		// Facebook and Twitter integration
		meta(property='og:title', content='')
		meta(property='og:image', content='')
		meta(property='og:url', content='')
		meta(property='og:site_name', content='')
		meta(property='og:description', content='')
		meta(name='twitter:title', content='')
		meta(name='twitter:image', content='')
		meta(name='twitter:url', content='')
		meta(name='twitter:card', content='')
		script(src='bower_components/jquery/dist/jquery.js')
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='js/modernizr.custom.js')
		script(src='js/snap.svg-min.js')
		script(src='js/scripts.js')
		script(src='js/flickity.pkgd.min.js')


	body
		#{email}
		#pagewrap
			nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.pageload-link.navbar-brand(href='index.html') 
					// Collect the nav links, forms, and other content for toggling
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a.pageload-link(href='about-us.html') Rólunk

							li
								a.pageload-link(href='benefits.html') Miért mi?
							li
								a.pageload-link(href='functional.html') Funkcionális tesztelés
							li
								a.pageload-link(href='user-experience.html') Felhasználói élmény kutatás
							li
								a.pageload-link(href='contact.html') Kapcsolat
			.container
				.cover
					.row
						.col-md-6.text
							h1 Crowdtesting
							h2 FELHASZNÁLIÓI FELÜLETEK TESZTELÉSE,<br>VALÓDI FELHASZNÁLÓKKAL,<br>VALÓS KÖRÜLMÉNYEK KÖZÖTT.
							h6 Magyarországon egyetlenként.
						.col-md-6.kep
					.row
						.scrollholder#arrow
							img(src="img/scroll_icon.png")
				.csatlakozz
					.row
						p Légy te is tesztelő! Ha szívesen kipróbálnád magad, 
							a.pageload-link(href='contact.html') regisztrálj itt! 
				.tesztek#top
					.row
						a.pageload-link(href='functional.html')
							.col-md-6.teszt1
								h2 Funkcionális teszt
								p Tárd fel tesztelőink segítségével felhasználói felületed működési hibáit!
								.imgholder
								.navigator
										p.more >
						a.pageload-link(href='user-experience.html')
							.col-md-6.teszt2
								h2 Felhasználói élmény kutatás
								p Gyűjts visszajelzéseket a tesztelőink által érzékelt felhasználói élményről!
								.imgholder
								.navigator
									p.more >


				.Elonyok
					.row
						.col-md-12
							h2#ctelonyei Miért mi?
							.row.list
								a.pageload-link(href='benefits.html')
									.col-md-3.col-sm-6.col-xs-12.el1
										h2 Releváns célcsoport
										.navigator
											p.more >								
								a.pageload-link(href='benefits.html')
									.col-md-3.col-sm-6.col-xs-12.el2
										h2 Eszközök széles választéka
										.navigator
											p.more >								
								a.pageload-link(href='benefits.html')
									.col-md-3.col-sm-6.col-xs-12.el3
										h2 Elfogulatlan tesztelők
										.navigator
											p.more >
								a.pageload-link(href='benefits.html')
									.col-md-3.col-sm-6.col-xs-12.el4
										h2 Visszajelzések rövid időn belül
										.navigator
											p.more >
				.miket
					.row
						.col-md-12
							h2 MIKET TESZTELÜNK?
							.row.ikonok
								.col-md-3#device1
									h6 Mobil alkalmazásokat

								.col-md-3#device2
									h6 Weboldalakat és webshopokat
								
								.col-md-3#device3
									h6 TV alkalmazásokat

								.col-md-3#device4
									h6 Egyéb szoftverek<br>felhasználói felületeit
							.row.miketmob
				
								.carousel.js-flickity
									.carousel-cell
										#device1
											h6 Mobil alkalmazásokat					
									.carousel-cell
										#device2
											h6 Weboldalakat és webshopokat	
									.carousel-cell
										#device3
											h6 TV alkalmazásokat					
									.carousel-cell
										#device4
											h6 Egyéb szoftverek<br>felhasználói felületeit					
				.folyamat
					.row
						.col-md-12
							h2 A Testbirds szolgáltatási folyamat
						.col-md-4
							.circle.elso
								img
							h2 Tesztelési célok
							p közös kialakítása
						.col-md-4
							.circle.masodik
								img
							h2 Felhasználói tesztelés
							p Testbirds managerek vezetésével
						.col-md-4
							.circle.harmadik
								img
							h2 Tesztelési eredmények,<br>javaslatok
							p összefoglalása és bemutatása

						.col-md-12
							.circlewoman
							h3 Édekel a szolgáltatásunk? Lépj kapcsolatba velünk!
							a.pageload-link(href='contact.html')
								.btn-primary Ajánlatot kérek!
				.col-md-12.companies
					.col-md-2.col-sm-4
						img(src="img/companies/1.png")
					.col-md-2.col-sm-4
						img(src="img/companies/2.png")					
					.col-md-2.col-sm-4
						img(src="img/companies/3.png")					
					.col-md-2.col-sm-4
						img(src="img/companies/4.png")						
					.col-md-2.no.col-sm-4
						img(src="img/companies/5.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/6.png")
					.col-md-2.col-sm-4
						img(src="img/companies/7.png")
					.col-md-2.col-sm-4
						img(src="img/companies/8.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/9.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/10.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/11.png")				
					.col-md-2.no.col-sm-4
						img(src="img/companies/12.png")
					.col-md-2.col-sm-4
						img(src="img/companies/13.png")
					.col-md-2.col-sm-4
						img(src="img/companies/14.png")					
					.col-md-2.col-sm-4
						img(src="img/companies/15.png")					
					.col-md-2.col-sm-4
						img(src="img/companies/16.png")						
					.col-md-2.no.col-sm-4
						img(src="img/companies/17.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/18.png")
					.col-md-2.col-sm-4
						img(src="img/companies/19.png")
					.col-md-2.col-sm-4
						img(src="img/companies/20.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/21.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/22.png")					
					.col-md-2.no.col-sm-4
						img(src="img/companies/23.png")				
					.col-md-2.no.col-sm-4
						img(src="img/companies/24.png")


			footer.container-fluid
				.row
					.col-md-12.contact
						h5 Kapcsolat
						p 1118 Budapest,<br>
						p Himfy utca 1.<br>
						p (30) 569 5988
						p info@testbirds.hu
						
						a.ref(href='facebok.com')
							.fbicon
						a.ref(href='facebook.com')
							.inicon


			#loader.pageload-overlay
				svg#loaderSvg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewbox='0 0 80 60')
						path#loaderPath

		script(src='js/classie.js')
		script(src='js/loader.js')
		script(src='js/svgLoader.js')
		script.
			(function() {
			docInteractive('spill');
			var pageWrap = document.getElementById( 'pagewrap' ),
			triggerLoading = [].slice.call( pageWrap.querySelectorAll( 'a.pageload-link' ) ),
			loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 450 } );
			function init() {
			triggerLoading.forEach( function( trigger ) {
			trigger.addEventListener( 'click', function( ev ) {
			ev.preventDefault();
			loader.show();
			setTimeout( function() {
			loader.hide();
			linkTag = $(ev.target).is('a')? $(ev.target) : $(ev.target).parents('a');
			link = $(linkTag).attr('href');
			document.location.href = link;
			}, 1000 );
			} );
			} );
			}
			init();
			})();	
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		// build:js js/jquery.okayNav-min.js
		script(src='js/jquery.okayNav.js')
		// endbuild
		script(type='text/javascript').
			var navigation = $('#nav-main').okayNav();
