/*Separator*/
.rolunk .articletitle .container {
    padding-bottom: 0;
}

.rolunk > div {
    background-color: #FAFAFA;
}

.rolunk .articlecover .container {
    background-image: url(/res/img/dist/process.png);
    background-size: contain;
    max-width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
}

.rolunk .team {
    padding-bottom: 80px;
}

.rolunk .team .container {
    max-width: 800px;
}

.team .portrait {
    background-repeat: no-repeat;
    height: 0;
    width: 162.5px;
    padding-top: 225px;
    background-size: 325px 225px;
    background-position: 0 0;
}

.team .portrait:not(.kata):hover {
    background-position: -162.5px 0;
}

.team .row {
    margin-top: 25px;
    text-align: justify;
    margin: 20px;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .4);
    border-radius: 3px;
    background-color: white;
}

.team .anna {
    background-image: url("/res/img/dist/team/anna.jpg");
}

.team .gizella {
    background-image: url("/res/img/dist/team/gizella.jpg");
}

.team .bianka {
    background-image: url("/res/img/dist/team/bianka.jpg");
}

.team .laszlo {
    background-image: url("/res/img/dist/team/laszlo.jpg");
}

.team .akos {
    background-image: url("/res/img/dist/team/akos.jpg");
}

.team .barnabas {
    background-image: url("/res/img/dist/team/barnabas.jpg");
}

.team .gergely {
    background-image: url("/res/img/dist/team/gergely.jpg");
}

.team .agnes {
    background-image: url("/res/img/dist/team/agnes.jpg");
}

.team .kata {
    background-image: url("/res/img/dist/team/kata.jpg");
}

.team .tamas {
    background-image: url("/res/img/dist/team/tamas.jpg");
}
