.sprite-1,
.sprite-10,
.sprite-11,
.sprite-12,
.sprite-13,
.sprite-14,
.sprite-15,
.sprite-16,
.sprite-17,
.sprite-18,
.sprite-19,
.sprite-2,
.sprite-21,
.sprite-22,
.sprite-23,
.sprite-24,
.sprite-25,
.sprite-26,
.sprite-3,
.sprite-4,
.sprite-5,
.sprite-6,
.sprite-7,
.sprite-8,
.sprite-9 {
    width: 128px;
    height: 61px
}

.companies {
    padding-top: 50px
}

.sprite {
    background-image: url(/res/img/dist/companies/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px
}

.sprite-1 {
    background-position: -1px -1px
}

.sprite-10 {
    background-position: -131px -1px
}

.sprite-11 {
    background-position: -261px -1px
}

.sprite-12 {
    background-position: -1px -64px
}

.sprite-13 {
    background-position: -131px -64px
}

.sprite-14 {
    background-position: -261px -64px
}

.sprite-15 {
    background-position: -1px -127px
}

.sprite-16 {
    background-position: -131px -127px
}

.sprite-17 {
    background-position: -261px -127px
}

.sprite-18 {
    background-position: -1px -190px
}

.sprite-19 {
    background-position: -131px -190px
}

.sprite-2 {
    background-position: -261px -190px
}

.sprite-20 {
    width: 128px;
    height: 61px;
    background-position: -1px -253px
}

.sprite-21 {
    background-position: -131px -253px
}

.sprite-22 {
    background-position: -261px -253px
}

.sprite-23 {
    background-position: -1px -316px
}

.sprite-24 {
    background-position: -131px -316px
}

.sprite-25 {
    background-position: -261px -316px
}

.sprite-26 {
    background-position: -1px -379px
}

.sprite-3 {
    background-position: -131px -379px
}

.sprite-4 {
    background-position: -261px -379px
}

.sprite-5 {
    background-position: -391px -1px
}

.sprite-6 {
    background-position: -391px -64px
}

.sprite-7 {
    background-position: -391px -127px
}

.sprite-8 {
    background-position: -391px -190px
}

.sprite-9 {
    background-position: -391px -253px
}