.elonyok .articletitle .container .row > div:nth-child(1) {
	height: 550px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.elonyok li {
	list-style: outside;
	margin-left: 20px;
}
.elonyok .articletitle {
	background-color: #FAFAFA;
}
.elonyok .articletitle .container {
	max-width: 800px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.elonyok .articletitle .container .row {
	margin-top: 90px;
}
.elonyok .articletitle .container .row #placeholder1 {
	background-image: url(/res/img/dist/target.jpg);
}
.elonyok .articletitle .container .row #placeholder2 {
	background-image: url(/res/img/dist/devices.jpg);
}
.elonyok .articletitle .container .row #placeholder3 {
	background-image: url(/res/img/dist/People.jpg);
}
.elonyok .articletitle .container .row #placeholder4 {
	background-image: url(/res/img/dist/answers.jpg);
}
.elonyok .articletitle .container .row .text {
	padding-top: 10px;
}
.elonyok .articletitle .container .nr1 {
	margin-top: 30px;
}

@media (max-width:992px) {

	.elonyok .articletitle .container .row .placeholder {
		height: 280px;
	}
	.elonyok .articletitle .container .row .text {
		padding-top: 30px;
	}
	.elonyok .container .row .col-md-6 {
		padding-left: 1rem;
	}
	.elonyok .articletitle .container .row {
		margin-top: 30px;
	}
}

