@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		url('/fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_400.woff') format('woff'),
		url('/fonts/Roboto_400.woff2') format('woff2'),
		url('/fonts/Roboto_400.svg#Roboto') format('svg'),
		url('/fonts/Roboto_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		url('/fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_700.woff') format('woff'),
		url('/fonts/Roboto_700.woff2') format('woff2'),
		url('/fonts/Roboto_700.svg#Roboto') format('svg'),
		url('/fonts/Roboto_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Droid Sans'),
		local('DroidSans'),
		url('/fonts/Droid_Sans_400.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Droid_Sans_400.woff') format('woff'),
		url('/fonts/Droid_Sans_400.woff2') format('woff2'),
		url('/fonts/Droid_Sans_400.svg#DroidSans') format('svg'),
		url('/fonts/Droid_Sans_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('Droid Sans Bold'),
		local('DroidSans-Bold'),
		url('/fonts/Droid_Sans_700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Droid_Sans_700.woff') format('woff'),
		url('/fonts/Droid_Sans_700.woff2') format('woff2'),
		url('/fonts/Droid_Sans_700.svg#DroidSans') format('svg'),
		url('/fonts/Droid_Sans_700.ttf') format('truetype');
}
