.articletitle {
    margin-top: 80px;
    background-color: #FAFAFA
}

.articletitle .container {
    max-width: 800px;
    padding-top: 80px;
    padding-bottom: 50px
}

.articletitle .row .col-md-12 {
    height: 200px
}

.articlecover_felh,
.articlecover_funkc {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.articlecover_funkc {
    background-image: url(../img/explorebug.png)
}

.articlecover_felh {
    background-image: url(../img/tesztbg1.png)
}

@media (max-width:992px) {
    .articlecover_felh,
    .articlecover_funkc {
        height: 330px
    }
}

.articlebody_g {
    background-color: #1E777A
}

.articlebody_w,
.quote .col-md-12 {
    background-color: #FAFAFA
}

.articlebody_g .container {
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 80px
}

.articlebody_g .container h6,
.articlebody_g .container li,
.articlebody_g .container p {
    color: #fff
}

.articlebody_w .container {
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FAFAFA
}

.articlebody_w .container h6,
.articlebody_w .container p {
    color: #313131
}

.quote .col-md-12 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 120px
}

.quote h3 {
    max-width: 300px;
    margin: 0 auto
}

.quote h3:first-child:before {
    content: "";
    background-image: url(../img/quotemark.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 50px 32px;
    height: 60px;
    margin-left: 120px
}