<script id="print-cover" type="text/html">
    <div class="cover">
        <div class="row main-intro">
            <div class="col-md-6 text">
                <h1>{{fooldal_Focim}}</h1>
                <h2>{{fooldal_Focim2}}</h2>
                <h6>{{fooldal_Focim3}}</h6> </div>
            <div class="col-md-6">
                <div class="icon icon-dudes"></div>
            </div>
        </div>
        <div class="row">
            <div id="arrow" class="scrollholder"><img alt="Click to scroll" src="/res/img/dist/scroll_icon.png"></div>
        </div>
    </div>
</script>