<script id="print-navigation" type="text/html">
    <div id="pagewrap">
        <div id="header">
            <a class="site-logo" href="/index.php">
                <div class="spriteholder">
                    <div class="icon icon-headerlogo"></div>
                </div>
            </a>
            <nav id="nav-main">
                <ul class="nav navbar-nav" style="height: 80px">
                    <li id="menu1"> <a href="about.php">
                        {{Menu1}}
                    </a> </li>
                    <li id="menu2"> <a href="whyus.php">
                        {{Menu2}}
                    </a> </li>
                    <li id="menu3"> <a href="functional.php">
                        {{Menu3}}
                    </a> </li>
                    <li id="menu4"> <a href="ux.php">
                        {{Menu4}}
                    </a> </li>
                    <li id="menu5"> <a href="{{menublogurl}}">
                        {{Menu6}}
                    </a> </li>
                    <li id="menu6"> <a href="contact.php">
                        {{Menu5}}
                    </a> </li>
                </ul>
            </nav>
        </div>
    </div>
</script>