<script id="print-processes" type="text/html">
    <div class="folyamat">
        <div class="row">
            <div class="col-md-12">
                <h2>{{fooldal_folyamat}}</h2>
                <div class="carousel">
                </div>
            </div>
            <div class="col-md-12 contact-cta">
                <div class="circle">
                    <div class="spriteholder">
                        <div class="icon icon-missmarketing-circle"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h3>{{contact-cta}}</h3>
                <a href="contact.php">
                    <div class="btn-primary"> {{ask-for-proposal}} </div>
                </a>
            </div>
        </div>
    </div>
</script>