<script id="print-testimonial" type="text/html">
    <div class="testimonial">
        <div class="row">
            <div class="col-md-1 quote hidden-sm"> </div>
            <div class="col-md-8">
                <p class="content"> {{testimonial1-cont}} </p>
                <p class="author"> {{testimonial1-auth}} </p>
            </div>
            <div class="col-md-2 imgholder hidden-sm"> <img alt="Testimonial image" src="{{testimonial1-img}}"> </div>
        </div>
    </div>
</script>