<script id="print-test" type="text/html">
<div id="top" class="tesztek">
    <div class="row">
        <a href="functional.php">
            <div class="col-md-6 teszt teszt1">
                <h2>{{fooldal_funkcionalis}}</h2>
                <p> {{fooldal_funkcionalis2}} </p>
                <div class="spriteholder">
                    <div class="icon-tb_bug2"></div>
                </div>
                <div class="navigator">
                    <p class="more">></p>
                </div>
            </div>
        </a>
        <a href="ux.php">
            <div class="col-md-6 teszt teszt2">
                <h2>{{fooldal_felhasznaloi}}</h2>
                <p> {{fooldal_felhasznaloi2}} </p>
                <div class="spriteholder">
                    <div class="icon-ux2"></div>
                </div>
                <div class="navigator">
                    <p class="more">></p>
                </div>
            </div>
        </a>
    </div>
</div>
</script>