<script id="print-what" type="text/html">
    <div class="miket">
        <div class="row">
            <div class="col-md-12">
                <h2>{{fooldal_miket}}</h2>
                <div class="carousel">
                    <div class="col-md-3 col-xs-12 carousel-cell">
                        <div class="spriteholder">
                            <div class="icon icon-what_we_test_icon_1"></div>
                        </div>
                        <h6>{{fooldal_miket2}}</h6> </div>
                    <div class="col-md-3 col-xs-12 carousel-cell">
                        <div class="spriteholder">
                            <div class="icon icon-what_we_test_icon_2"></div>
                        </div>
                        <h6>{{fooldal_miket3}}</h6> </div>
                    <div class="col-md-3 col-xs-12 carousel-cell">
                        <div class="spriteholder">
                            <div class="icon icon-what_we_test_icon_3"></div>
                        </div>
                        <h6>{{fooldal_miket4}}</h6> </div>
                    <div class="col-md-3 col-xs-12 carousel-cell">
                        <div class="spriteholder">
                            <div class="icon icon-what_we_test_icon_4"></div>
                        </div>
                        <h6>{{fooldal_miket5}}</h6> </div>
                </div>
            </div>
        </div>
    </div>
</script>