<script id="print-whyusitem" type="text/html">
    <div class="row nr1" id="1_">
        <div id="placeholder1" class="col-md-6"></div>
        <div class="col-md-6 text">
            <h2 class="one">{{miertmi_elony1}}<br></h2>
            <ul>
                <li> {{miertmi_elony1_1}} </li>
            </ul>
            <ul>
                <li> {{miertmi_elony1_2}} </li>
            </ul>
            <ul>
                <li> {{miertmi_elony1_3}} </li>
            </ul>
            <ul>
                <li> {{miertmi_elony1_4}} </li>
            </ul>
        </div>
    </div>
</script>