.companies {
    padding-top: 50px;
}

.sprite {
    background-image: url(/img/companies/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px !important;
}

.sprite-1 {
    width: 128px;
    height: 61px;
    background-position: -1px -1px;
}

.sprite-10 {
    width: 128px;
    height: 61px;
    background-position: -131px -1px;
}

.sprite-11 {
    width: 128px;
    height: 61px;
    background-position: -261px -1px;
}

.sprite-12 {
    width: 128px;
    height: 61px;
    background-position: -1px -64px;
}

.sprite-13 {
    width: 128px;
    height: 61px;
    background-position: -131px -64px;
}

.sprite-14 {
    width: 128px;
    height: 61px;
    background-position: -261px -64px;
}

.sprite-15 {
    width: 128px;
    height: 61px;
    background-position: -1px -127px;
}

.sprite-16 {
    width: 128px;
    height: 61px;
    background-position: -131px -127px;
}

.sprite-17 {
    width: 128px;
    height: 61px;
    background-position: -261px -127px;
}

.sprite-18 {
    width: 128px;
    height: 61px;
    background-position: -1px -190px;
}

.sprite-19 {
    width: 128px;
    height: 61px;
    background-position: -131px -190px;
}

.sprite-2 {
    width: 128px;
    height: 61px;
    background-position: -261px -190px;
}

.sprite-20 {
    width: 128px;
    height: 61px;
    background-position: -1px -253px;
}

.sprite-21 {
    width: 128px;
    height: 61px;
    background-position: -131px -253px;
}

.sprite-22 {
    width: 128px;
    height: 61px;
    background-position: -261px -253px;
}

.sprite-23 {
    width: 128px;
    height: 61px;
    background-position: -1px -316px;
}

.sprite-24 {
    width: 128px;
    height: 61px;
    background-position: -131px -316px;
}

.sprite-25 {
    width: 128px;
    height: 61px;
    background-position: -261px -316px;
}

.sprite-26 {
    width: 128px;
    height: 61px;
    background-position: -1px -379px;
}

.sprite-3 {
    width: 128px;
    height: 61px;
    background-position: -131px -379px;
}

.sprite-4 {
    width: 128px;
    height: 61px;
    background-position: -261px -379px;
}

.sprite-5 {
    width: 128px;
    height: 61px;
    background-position: -391px -1px;
}

.sprite-6 {
    width: 128px;
    height: 61px;
    background-position: -391px -64px;
}

.sprite-7 {
    width: 128px;
    height: 61px;
    background-position: -391px -127px;
}

.sprite-8 {
    width: 128px;
    height: 61px;
    background-position: -391px -190px;
}

.sprite-9 {
    width: 128px;
    height: 61px;
    background-position: -391px -253px;
}
