.rolunk .articlecover,
.rolunk .team {
    background-color: #FAFAFA
}

.rolunk .articletitle .container {
    padding-bottom: 0
}

.rolunk .articlecover .container {
    background-image: url(/img/process.png);
    background-size: contain;
    max-width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 20px;
    height: 120px
}

.rolunk .team {
    padding-bottom: 80px
}

.rolunk .team .container {
    padding-top: 50px;
    max-width: 800px
}