/* ==========================================================================
 *cover
 *========================================================================== */
.rolunk .articletitle .container {
  padding-bottom: 0px; }
.rolunk .articlecover {
  background-color: #FAFAFA; }
  .rolunk .articlecover .container {
    background-image: url("../img/process.png");
    background-size: contain;
    max-width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 20px;
    height: 120px; }

/* ==========================================================================
 *team
 *========================================================================== */
.rolunk .team {
  background-color: #FAFAFA;
  padding-bottom: 80px; }
  .rolunk .team .container {
    padding-top: 50px;
    max-width: 800px; }

.rolunk .team .container-fluid {
  padding-right: 0px; }
  .rolunk .team .container-fluid h2 {
    text-align: center;
    padding-bottom: 50px;
    width: 100%; }
  .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid {
    padding-right: 0px; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid .col-lg-4.col-md-6.col-sm-6 {
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      margin: 0 auto;
      max-width: 320px;
      border-right: 60px solid #FAFAFA;
      margin-bottom: 50px; }
      .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid .col-lg-4.col-md-6.col-sm-6 p {
        Color: White;
        font-weight: 800;
        height: 100%;
        padding-top: 250px; }
      .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid .col-lg-4.col-md-6.col-sm-6 p:after {
        content: "";
        height: 2px;
        display: block;
        width: 21px;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
        background-color: white; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph1 {
      background-image: url("../img/caprio.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph1_2 {
      background-image: url("../img/Adam_Csikos-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph1_2:hover {
      opacity: 0 !important; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph2 {
      background-image: url("../img/caprio.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph2_2 {
      background-image: url("../img/Balazs_Fonagy-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph2_2:hover {
      opacity: 0 !important; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph3 {
      background-image: url("../img/kate.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph3_2 {
      background-image: url("../img/Kata_Csankovszki-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph3_2:hover {
      opacity: 0 !important; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph4 {
      background-image: url("../img/caprio.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph4_2 {
      background-image: url("../img/Michal_Matus-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph4_2:hover {
      opacity: 0 !important; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph5 {
      background-image: url("../img/caprio.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph5_2 {
      background-image: url("../img/Tamas_Lichter-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph5_2:hover {
      opacity: 0 !important; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph6 {
      background-image: url("../img/kate.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph6_2 {
      background-image: url("../img/Gizella_Bartha-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      margin-bottom: 83px;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in; }
    .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .container-fluid #ph6_2:hover {
      opacity: 0 !important; }
  .rolunk .team .container-fluid .col-lg-8.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-1 .persondescription {
    background-color: #FAFAFA;
    padding: 60px;
    border-right: 45px solid #FAFAFA;
    border-left: 40px solid #FAFAFA;
    background-color: #EFEFEF; }

.infoBox h1 {
  margin-bottom: 0px;
  margin-top: 0px; }

.infoBox.active {
  padding: 35px 42px;
  color: black;
  background: #ECECEC;
  margin-top: 0px;
  max-width: 82%;
  margin-left: 15px;
  margin-bottom: 50px;
  border-radius: 10px; }
  .infoBox.active p {
    text-transform: none; }

.infoBox.active:after {
  display: none; }

@media (max-width: 767px) {
  .infoBox.active {
    float: none; } }
@media (max-width: 998px) {
  .infoBox.active {
    max-width: 100%;
    margin-left: -20px; } }
@media (min-width: 800px) {
  .rolunk .articlecover .container {
    min-height: 200px; } }

/*# sourceMappingURL=rolunk.css.map */
