@charset "UTF-8";
h1,
h2,
h3 {
    color: #1E777A
}

h3,
h4,
h5 {
    margin: 1rem 1rem 1rem 0
}

h4,
h6,
h6 li,
li,
p {
    color: #313131
}

body,
h2,
li,
p {
    margin: 0
}

a,
a:active,
a:hover {
    text-decoration: none
}

.read-more-btn,
h1,
h2 {
    text-transform: uppercase
}

.tesztek .row .teszt1:hover,
.tesztek .row .teszt2:hover {
    -webkit-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26);
    -moz-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26);
    z-index: 3
}

.companies,
.contact,
.cover .scrollholder,
.csatlakozz .row,
.flickity-slider,
.folyamat .row,
.miket .row .col-md-12 {
    text-align: center
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

body,
html {
    overflow-x: hidden;
    width: 100%
}

body {
    background-color: #EFEFEF
}

html,
html a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    -webkit-font-smoothing: antialiased
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 5rem;
    font-family: Roboto, Droid Sans sans-serif;
    font-weight: 700;
    margin: .83rem .83rem .83rem 0
}

h2,
h3 {
    font-size: 2.3rem;
    font-weight: 400;
    font-family: Roboto, Droid Sans sans-serif
}

h4,
h5,
h6,
h6 li {
    font-family: Roboto, Droid Sans sans-serif;
    font-weight: 700
}

h2 {
    line-height: 3rem
}

h3 {
    line-height: 2.8rem
}

h4,
h5 {
    font-size: 2.2rem
}

h5 {
    color: #DBDBDB
}

h6,
h6 li {
    font-size: 1.7rem;
    line-height: 26px
}

.articlebody_g .container ul,
a,
li,
p {
    font-size: 1.7rem;
    font-family: Droid Sans, sans-serif
}

h6 {
    margin: .3rem .3rem .3rem 0
}

.articlebody_g .container ul,
h6 li {
    margin: 0 0 0 20px;
    list-style: outside
}

.articlebody_g .container ul,
li,
p {
    font-weight: 400
}

li,
p {
    line-height: 30px
}

.articlebody_g .container ul {
    line-height: 26px;
    color: #fff
}

blockquote,
ul {
    margin: 0
}

a {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
    color: #1E777A
}

a:focus,
a:hover {
    color: #1E777A;
    cursor: pointer;
    text-decoration: underline;
    outline: 0!important
}

.Elonyok .row a:focus,
.Elonyok .row a:hover,
.folyamat a:focus,
.folyamat a:hover,
.tesztek .row a:focus,
.tesztek .row a:hover,
.use-btn:focus,
.use-btn:hover,
footer .col-md-12 a:hover {
    text-decoration: none
}

a:focus {
    color: #fff!important
}

ul {
    padding: 0;
    list-style: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

.cover .row .kep,
.tesztek .row .teszt1 .imgholder,
.tesztek .row .teszt2 .imgholder {
    background-repeat: no-repeat;
    background-size: contain
}

code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: monospace, serif
}

small,
sub,
sup {
    font-size: 75%
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:after,
q:before {
    content: "";
    content: none
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

@media (max-width:992px) {
    h1 {
        font-size: 3.5rem
    }
}

@media (max-width:340px) {
    h1 {
        font-size: 3.3rem
    }
}

.download-btn,
.learn-btn,
.use-btn {
    font-size: 16.4px;
    display: inline-block
}

.use-btn {
    margin: 0 10px 10px 0;
    padding: 20px 50px;
    border-radius: 3px;
    background-color: #fff;
    color: #4b98a9
}

.use-btn:focus,
.use-btn:hover {
    background-color: #73d0da;
    color: #fff
}

.download-btn,
.learn-btn {
    padding: 18px 46px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff
}

.download-btn:focus,
.download-btn:hover,
.learn-btn:focus,
.learn-btn:hover {
    border-color: #73d0da;
    color: #73d0da;
    text-decoration: none
}

.read-more-btn {
    display: inline-block;
    color: #323a45;
    font-weight: 400
}

.download-btn i,
.read-more-btn i {
    margin-left: 5px
}

.showcase .download-btn {
    margin-top: 50px
}

.download .download-btn {
    margin-top: 25px
}

.container {
    width: 94%
}

.container .row {
    margin-left: 0;
    margin-right: 0
}

.container .row .col-md-6 {
    padding-left: 4rem
}

@media (max-width:400px) {
    .container {
        padding-left: 5px;
        padding-right: 5px
    }
    .container .row .col-md-6 {
        padding-left: 2rem
    }
}

.cover {
    background-color: #FAFAFA;
    overflow: hidden;
    padding-bottom: 25px;
    padding-top: 100px
}

.cover h6 {
    color: #1E777A;
    padding-top: 10px
}

.cover .row .text {
    padding-top: 8vw;
    padding-bottom: 60px;
    padding-left: 16rem
}

.cover .row .kep {
    background-image: url(../img/dudes.png);
    height: 35vw;
    margin-left: 0
}

.cover .scrollholder img {
    max-width: 40px;
    opacity: .3;
    transition: all .1s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in
}

.cover .scrollholder img:hover {
    opacity: 1;
    margin-top: -10px;
    cursor: pointer
}

@media (max-width:1230px) {
    .container {
        width: 98%
    }
    .cover .row .text {
        padding-left: 8rem
    }
}

@media (max-width:992px) {
    .cover .row .text {
        padding-top: 40px
    }
    .cover .row .kep {
        background-position-x: 40px;
        height: 540px;
        background-position: center
    }
    .scrollholder {
        display: none
    }
}

@media (max-width:660px) {
    .cover .row .text {
        padding-left: 2rem
    }
}

@media (max-width:600px) {
    .cover .row .kep {
        background-position-x: 0;
        height: 260px;
        background-position: center
    }
}

@media (max-width:562px) {
    .csatlakozz .row {
        padding-top: 44px!important
    }
}

.csatlakozz .row {
    height: 150px;
    background-color: #44505E;
    padding-top: 60px
}

.csatlakozz .row p {
    color: #fff
}

.csatlakozz .row p a {
    color: #5FAE7F
}

.tesztek {
    background-color: #fff;
    cursor: pointer
}

.tesztek h2,
.tesztek p {
    color: #fff;
    cursor: pointer
}

.tesztek .navigator p {
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    max-width: 80%
}

.tesztek .navigator .more {
    position: absolute;
    bottom: 30px;
    float: right;
    right: 35px
}

.tesztek .row .teszt1 {
    padding-top: 4rem;
    background-color: #0A83D0;
    z-index: 3;
    height: 500px;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    cursor: pointer
}

.tesztek .row .teszt1 .imgholder {
    background-image: url(../img/tb_bug2.png);
    height: 370px;
    background-position: center;
    background-position-y: 0;
    cursor: pointer
}

.tesztek .row .teszt1:hover {
    background-color: #097FCA;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26)
}

.tesztek .row .teszt2 {
    padding-top: 4rem;
    background-color: #14AB80;
    height: 500px;
    cursor: pointer;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in
}

.tesztek .row .teszt2 .imgholder {
    background-image: url(../img/ux2.png);
    height: 170px;
    background-position: center;
    margin-top: 90px
}

.tesztek .row .teszt2:hover {
    background-color: #119E76;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26)
}

@media (max-width:1220px) {
    .tesztek .row .teszt2 .imgholder {
        margin-top: 80px;
        height: 140px
    }
}

@media (max-width:991px) {
    .tesztek .row .teszt1,
    .tesztek .row .teszt2 {
        height: 410px
    }
    .tesztek .row .teszt2 .imgholder {
        margin-top: 40px;
        height: 120px
    }
    .tesztek .row .teszt1 .imgholder {
        height: 280px;
        background-position-y: -20px
    }
}

@media (max-width:431px) {
    .tesztek .row .teszt2 .imgholder {
        margin-top: 40px;
        height: 90px
    }
}

.Elonyok .row .col-md-12 {
    background-color: #FAFAFA;
    height: 1200px;
    padding-left: 0;
    padding-right: 0;
    background-image: url(../img/Dude-Projectmanager.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat
}

#device1,
#device2,
#device3,
#device4,
.folyamat .row .col-md-4 .elso,
.folyamat .row .col-md-4 .harmadik,
.folyamat .row .col-md-4 .masodik,
.miket {
    background-position: center;
    background-repeat: no-repeat
}

.Elonyok .row .col-md-12 h2#ctelonyei {
    padding-left: 20px;
    padding-top: 90px
}

.Elonyok .row .col-md-12 #ctelonyei:after {
    content: "";
    background-image: url(../img/arrow_down.png);
    background-size: 366px 34px;
    display: block;
    width: 118px;
    margin-top: 5px;
    background-repeat: no-repeat;
    height: 100px;
    margin-left: -5px
}

.Elonyok .row .col-md-12 .list {
    position: absolute;
    bottom: 0;
    width: 100%
}

.Elonyok .row .col-md-12 .list .el1 {
    background-image: url(../img/target.png);
    background-size: 70px;
    background-position-y: 110px
}

.Elonyok .row .col-md-12 .list .el2 {
    background-image: url(../img/devices.png);
    background-size: 110px;
    background-position-y: 87px
}

.Elonyok .row .col-md-12 .list .el3 {
    background-image: url(../img/people.png);
    background-size: 80px;
    background-position-y: 100px
}

.Elonyok .row .col-md-12 .list .el4 {
    background-image: url(../img/messages.png);
    background-size: 90px;
    background-position-y: 88px
}

.Elonyok .row .col-md-12 .list .el1,
.Elonyok .row .col-md-12 .list .el2,
.Elonyok .row .col-md-12 .list .el3,
.Elonyok .row .col-md-12 .list .el4 {
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    background-color: rgba(21, 104, 107, .89);
    padding: 25px;
    border-left: 1px solid #fff;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    cursor: pointer
}

.Elonyok .row .col-md-12 .list .el1 h2,
.Elonyok .row .col-md-12 .list .el1 p,
.Elonyok .row .col-md-12 .list .el2 h2,
.Elonyok .row .col-md-12 .list .el2 p,
.Elonyok .row .col-md-12 .list .el3 h2,
.Elonyok .row .col-md-12 .list .el3 p,
.Elonyok .row .col-md-12 .list .el4 h2,
.Elonyok .row .col-md-12 .list .el4 p {
    color: #fff
}

.Elonyok .row .col-md-12 .list .el1 .navigator p,
.Elonyok .row .col-md-12 .list .el2 .navigator p,
.Elonyok .row .col-md-12 .list .el3 .navigator p,
.Elonyok .row .col-md-12 .list .el4 .navigator p {
    position: absolute;
    bottom: 30px;
    font-size: 1.5rem;
    max-width: 80%
}

.Elonyok .row .col-md-12 .list .el1 .navigator .more,
.Elonyok .row .col-md-12 .list .el2 .navigator .more,
.Elonyok .row .col-md-12 .list .el3 .navigator .more,
.Elonyok .row .col-md-12 .list .el4 .navigator .more {
    position: absolute;
    bottom: 30px;
    float: right;
    right: 35px
}

.Elonyok .row .col-md-12 .el1:hover,
.Elonyok .row .col-md-12 .el2:hover,
.Elonyok .row .col-md-12 .el3:hover,
.Elonyok .row .col-md-12 .el4:hover {
    background-color: #82b999;
    z-index: 3;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26);
    -moz-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26);
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26)
}

@media (max-width:660px) {
    .Elonyok .row .col-md-12 .list .el1,
    .Elonyok .row .col-md-12 .list .el2,
    .Elonyok .row .col-md-12 .list .el3,
    .Elonyok .row .col-md-12 .list .el4 {
        padding-left: 2rem
    }
}

@media (min-width:753px) {
    .Elonyok .row .col-md-12 {
        height: 690px
    }
    .Elonyok .row .col-md-12 h2#ctelonyei {
        padding-left: 35px
    }
}

@media (max-width:992px) {
    .Elonyok .row .col-md-12 .list .el1,
    .Elonyok .row .col-md-12 .list .el2,
    .Elonyok .row .col-md-12 .list .el3,
    .Elonyok .row .col-md-12 .list .el4 {
        margin-bottom: 1px
    }
    .Elonyok .row .col-md-12 {
        background-image: none
    }
    .Elonyok .row .col-md-12 h2#ctelonyei {
        padding-top: 90px
    }
}

@media (min-width:767px) {
    .Elonyok .row .col-md-12 {
        height: 710px
    }
}

@media (min-width:992px) {
    .Elonyok .row .col-md-12 {
        height: 500px
    }
    .miketmob {
        display: none
    }
}

.miket {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px
}

#device1,
#device2,
#device3,
#device4 {
    background-size: contain;
    height: 150px
}

.miket .row .col-md-12 {
    padding-top: 60px;
    padding-bottom: 80px
}

.miket .row .col-md-12 h2 {
    color: #fff;
    padding-bottom: 80px
}

.miket .row .col-md-12 h6 {
    color: #fff;
    padding-top: 168px
}

#device1 {
    background-image: url(../img/what_we_test_icon_1.png)
}

#device2 {
    background-image: url(../img/what_we_test_icon_2.png)
}

#device3 {
    background-image: url(../img/what_we_test_icon_5.png)
}

#device4 {
    background-image: url(../img/what_we_test_icon_3.png)
}

.flickity-slider {
    transform: none
}

.carousel-cell {
    width: 100%;
    margin-top: 20px
}

.carousel-cell h6 {
    padding-top: 170px;
    color: #fff
}

.flickity-viewport {
    height: 260px!important
}

@media (max-width:992px) {
    .miket .ikonok {
        margin-top: -110px;
        padding-bottom: 40px
    }
    .ikonok {
        display: none
    }
    .miket .row .col-md-12 h6 {
        margin-top: 0
    }
    .miket {
        min-height: 360px
    }
    .miket .row .col-md-12 {
        padding-bottom: 0
    }
    .miket .row .col-md-12 h2 {
        padding-bottom: 30px
    }
    .flickity-prev-next-button.next,
    .flickity-prev-next-button.previous {
        margin-top: -30px
    }
    .companies {
        min-height: 600px
    }
}

.folyamat {
    background-color: #FAFAFA;
    padding-bottom: 80px
}

.folyamat a:focus,
.folyamat a:hover {
    color: #fff
}

.folyamat .row .col-md-12 {
    text-align: center;
    padding-top: 80px
}

.folyamat .row .col-md-4 .circle {
    height: 150px;
    background-color: #EFEFEF;
    border-radius: 500px;
    margin: 60px auto 80px;
    width: 150px
}

.folyamat .row .col-md-4 .elso:before,
.folyamat .row .col-md-4 .harmadik:before,
.folyamat .row .col-md-4 .masodik:before {
    height: 40px;
    width: 40px;
    padding-top: 6px;
    margin-top: 173px;
    position: absolute;
    margin-left: -25px;
    font-weight: 700;
    color: #1E777A;
    font-size: 1.7rem
}

.folyamat .row .col-md-4 .elso {
    background-image: url(../img/document.png);
    background-size: 58px 50px
}

.folyamat .row .col-md-4 .elso:before {
    content: "1";
    border: 2px solid #1E777A;
    border-radius: 10000px
}

.folyamat .row .col-md-4 .masodik {
    background-image: url(../img/people2.png);
    background-size: 70px 70px
}

.folyamat .row .col-md-4 .masodik:before {
    content: "2";
    border: 2px solid #1E777A;
    border-radius: 10000px
}

.folyamat .row .col-md-4 .harmadik {
    background-image: url(../img/diagram.png);
    background-size: 52px 55px
}

.folyamat .row .col-md-4 .harmadik:before {
    content: "3";
    border: 2px solid #1E777A;
    border-radius: 10000px
}

.folyamat .row .col-md-4 p {
    color: #1E777A
}

.folyamat .row .circlewoman {
    height: 200px;
    background-color: #FAFAFA;
    -webkit-box-shadow: inset -1px -11px 34px -17px rgba(0, 0, 0, .28);
    -moz-box-shadow: inset -1px -11px 34px -17px rgba(0, 0, 0, .28);
    box-shadow: inset -1px -11px 34px -17px rgba(0, 0, 0, .28);
    border-radius: 500px;
    margin: 0 auto 30px;
    width: 200px;
    background-image: url(../img/Dude-MissMarketing.png);
    background-repeat: no-repeat;
    background-size: 101.7px;
    background-position: top
}

.folyamat .row .btn-primary {
    color: #fff;
    background-color: #1E777A;
    border-color: #1E777A;
    width: 310px;
    margin: 30px auto 0;
    padding: 20px;
    font-family: Droid Sans, sans-serif;
    font-size: 1.7rem
}

.folyamat .row .btn-primary:hover {
    color: #fff;
    background-color: #186265;
    border-color: #186265;
    width: 310px
}

@media (max-width:600px) {
    .folyamat .row .btn-primary {
        width: 100%
    }
}

.companies {
    background-color: #E9E9E9;
    padding-bottom: 40px!important
}

.companies img {
    max-width: 120px;
    margin-top: 50px
}

#comptitle {
    padding-top: 80px!important;
    padding-bottom: 30px!important;
    display: none!important
}

#reftitle {
    padding-bottom: 30px;
    padding-top: 80px;
    display: none
}

@media (max-width:767px) {
    .companies {
        min-height: 900px
    }
    .no {
        display: none
    }
}

footer {
    margin-top: 50px;
    background-color: #2C2C2C;
    min-height: 300px
}

.fbicon,
.inicon {
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-top: 30px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px
}

footer .col-md-12 a,
footer .col-md-12 p {
    color: #666
}

.contact {
    padding-top: 50px;
    padding-bottom: 50px
}

.ref {
    display: inline-block
}

.fbicon {
    background-image: url(../img/fb_icon.png);
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in
}

.fbicon:hover {
    background-image: url(../img/fb_icon_c.png)
}

.inicon {
    background-image: url(../img/in_icon.png);
    display: flex-inline;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in
}

.inicon:hover {
    background-image: url(../img/in_icon_c.png)
}

@media (max-width:992px) {
    footer {
        padding-bottom: 50px
    }
}

@media (max-width:660px) {
    footer .col-md-2,
    footer .col-md-3,
    footer .col-md-4 {
        padding-left: 2rem
    }
}

#menu1 {
    display: none
}