progress,
sub,
sup {
    vertical-align: baseline
}

button,
hr,
input {
    overflow: visible
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

[hidden],
template {
    display: none
}

legend,
ul {
    padding: 0
}

.Elonyok .row .col-md-12,
.tesztek .row .teszt1 .imgholder,
.tesztek .row .teszt2 .imgholder {
    background-size: contain;
    background-repeat: no-repeat
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(/fonts/Roboto_400.eot?#iefix) format('embedded-opentype'), url(/fonts/Roboto_400.woff) format('woff'), url(/fonts/Roboto_400.woff2) format('woff2'), url(/fonts/Roboto_400.svg#Roboto) format('svg'), url(/fonts/Roboto_400.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/Roboto_700.eot?#iefix) format('embedded-opentype'), url(/fonts/Roboto_700.woff) format('woff'), url(/fonts/Roboto_700.woff2) format('woff2'), url(/fonts/Roboto_700.svg#Roboto) format('svg'), url(/fonts/Roboto_700.ttf) format('truetype')
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url(/fonts/Droid_Sans_400.eot?#iefix) format('embedded-opentype'), url(/fonts/Droid_Sans_400.woff) format('woff'), url(/fonts/Droid_Sans_400.woff2) format('woff2'), url(/fonts/Droid_Sans_400.svg#DroidSans) format('svg'), url(/fonts/Droid_Sans_400.ttf) format('truetype')
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(/fonts/Droid_Sans_700.eot?#iefix) format('embedded-opentype'), url(/fonts/Droid_Sans_700.woff) format('woff'), url(/fonts/Droid_Sans_700.woff2) format('woff2'), url(/fonts/Droid_Sans_700.svg#DroidSans) format('svg'), url(/fonts/Droid_Sans_700.ttf) format('truetype')
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,
select {
    text-transform: none
}

.nav li a,
h1,
h2 {
    text-transform: uppercase
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

#header li,
h6,
h6 li {
    line-height: 26px
}

.Elonyok .el:hover,
.tesztek .teszt:hover {
    z-index: 3;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, .26)
}

.companies,
.cover .scrollholder,
.folyamat .row,
.quote .col-md-12,
.send .btn-primary {
    text-align: center
}

a,
a:active,
a:hover {
    text-decoration: none
}

h3,
h4,
h5 {
    margin: 1rem 1rem 1rem 0
}

body,
h2,
li,
p,
ul {
    margin: 0
}

.navbar-fixed-top .navbar-collapse {
    max-height: 390px
}

body,
html {
    overflow-x: hidden;
    width: 100%
}

body {
    background-color: #efefef
}

html,
html a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    font-smoothing: antialiased
}

h1 {
    font-size: 80px;
    font-size: 5rem;
    font-weight: 700;
    margin: .83rem .83rem .83rem 0
}

h2,
h3 {
    font-size: 36px;
    font-size: 2.3rem;
    font-weight: 400
}

h4,
h5,
h6,
h6 li {
    font-weight: 700
}

h2 {
    line-height: 48px;
    line-height: 3rem
}

h3 {
    line-height: 44px;
    line-height: 2.8rem
}

h4,
h5 {
    font-size: 35px;
    font-size: 2.2rem
}

h5 {
    color: #dbdbdb
}

h6,
h6 li {
    font-size: 27px;
    font-size: 1.7rem
}

h6 {
    margin: .3rem .3rem .3rem 0
}

.articlebody_g .container ul,
li,
p {
    font-weight: 400
}

#header li,
.intro {
    font-weight: 700
}

.articlebody_g .container ul {
    line-height: 26px;
    color: #fff
}

#header ul {
    list-style: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #1f777a
}

a:focus,
a:hover {
    color: #1f777a;
    cursor: pointer;
    text-decoration: underline;
    outline: 0!important
}

.Elonyok .row a:focus,
.Elonyok .row a:hover,
.folyamat a:focus,
.folyamat a:hover,
.tesztek .row a:focus,
.tesztek .row a:hover,
.use-btn:focus,
.use-btn:hover,
footer .col-md-12 a:hover {
    text-decoration: none
}

a:focus {
    color: #fff!important
}

.use-btn {
    font-size: 16.4px;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 20px 50px;
    border-radius: 3px;
    background-color: #fff;
    color: #4b98a9
}

.use-btn:focus,
.use-btn:hover {
    background-color: #73d0da;
    color: #fff
}

.container {
    width: 94%
}

.container .row {
    margin-left: 0;
    margin-right: 0
}

.container .row .col-md-6 {
    padding-left: 4rem
}

.cover {
    background-color: #fafafa;
    overflow: hidden;
    padding-bottom: 25px;
    height: 88vh;
    padding-top: 20px
}

.cover h6 {
    color: #1f777a;
    padding-top: 10px
}

.cover .row .text {
    padding-bottom: 60px;
    padding-left: 16rem
}

.cover .scrollholder img {
    max-width: 40px;
    opacity: .3;
    filter: alpha(opacity=30)
}

.cover .scrollholder img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: -10px;
    cursor: pointer
}

.csatlakozz .row {
    height: 150px;
    background-color: #44505e;
    padding-top: 60px
}

.csatlakozz .row p {
    color: #fff
}

.csatlakozz .row p a {
    color: #5fae7f
}

.Elonyok .row .col-md-12 .list .el h2,
.Elonyok .row .col-md-12 .list .el p,
.device>*,
.folyamat a:focus,
.folyamat a:hover,
.miket .carousel-cell,
.tesztek h2,
.tesztek p {
    color: #fff
}

.tesztek {
    background-color: #fff;
    cursor: pointer
}

.tesztek h2,
.tesztek p {
    cursor: pointer
}

.tesztek .navigator p {
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    max-width: 80%
}

.tesztek .teszt {
    position: relative;
    min-height: 400px;
    padding-top: 2em
}

.tesztek .teszt1 {
    background-color: #0a83d0
}

.tesztek .teszt1:hover {
    background-color: #097fca
}

.tesztek .teszt2 {
    background-color: #14ab80
}

.tesztek .teszt2:hover {
    background-color: #119e76
}

.Elonyok .row .col-md-12 {
    background-color: #fafafa;
    height: 1200px;
    padding-left: 0;
    padding-right: 0;
    background-image: url(/res/img/dist/Dude-Projectmanager.png);
    background-position: right
}

.Elonyok .row .col-md-12 .list {
    position: absolute;
    bottom: 0;
    width: 100%
}

.Elonyok .row .col-md-12 .list>div {
    height: 250px;
    background-color: rgba(21, 104, 107, .89);
    padding: 25px;
    border-left: 1px solid #fff;
    cursor: pointer
}

.Elonyok .row .col-md-12 .list .el .navigator p {
    position: absolute;
    bottom: 30px;
    font-size: 24px;
    font-size: 1.5rem;
    max-width: 80%
}

.navigator .more {
    position: absolute;
    bottom: 30px;
    float: right;
    right: 35px
}

.navigator .more:after {
    content: ">"
}

.Elonyok .el {
    height: 250px
}

.Elonyok .el .spriteholder {
    margin-top: 20px
}

.Elonyok .el:hover {
    background-color: #82b999!important
}

.tesztek .spriteholder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 400px
}

.spriteholder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%
}

.miket {
    background-image: url(/res/img/dist/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px
}

.miket .row .col-md-12 {
    padding-top: 60px;
    padding-bottom: 80px
}

.miket .row .col-md-12 h2 {
    color: #fff;
    padding-bottom: 80px
}

.folyamat {
    background-color: #fafafa;
    padding-bottom: 80px
}

.folyamat .col-md-12>.circle,
.folyamat .col-md-4>.circle {
    background-color: #efefef;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto
}

.folyamat .row .col-md-12 {
    text-align: center;
    padding-top: 80px
}

.folyamat .col-md-4>.circle {
    width: 150px;
    height: 150px
}

.folyamat .col-md-12>.circle {
    width: 200px;
    height: 200px;
    box-shadow: inset -1px -11px 34px -17px rgba(0, 0, 0, .28)
}

.folyamat .col-md-4 h2 {
    margin-top: 80px
}

.folyamat .col-md-12 h2:nth-child(1) {
    margin-bottom: 25px
}

@media screen and (min-width:1350px) {
    .contact-cta,
    .main-intro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center
    }
}

@media screen and (max-width:1350px) {
    .contact-cta,
    .main-intro {
        display: block;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center
    }
}

@media screen and (max-width:700px) {
    .main-intro .icon {
        display: none
    }
}

.folyamat .row .col-md-4 .circle:before {
    height: 40px;
    width: 40px;
    padding-top: 6px;
    margin-top: 173px;
    position: absolute;
    margin-left: -20px;
    font-size: 27px;
    font-size: 1.7rem;
    font-weight: 700;
    color: #1f777a
}

.circle.elso:before {
    content: "1";
    border: 2px solid #1f777a;
    border-radius: 100%
}

.circle.masodik:before {
    content: "2";
    border: 2px solid #1f777a;
    border-radius: 100%
}

.circle.harmadik:before {
    content: "3";
    border: 2px solid #1f777a;
    border-radius: 100%
}

.folyamat .row .col-md-4 p {
    color: #1f777a
}

.folyamat .row .btn-primary {
    color: #fff;
    background-color: #1f777a;
    border-color: #1f777a;
    width: 310px;
    margin: 30px auto 0;
    padding: 20px;
    font-family: Droid Sans, sans-serif;
    font-size: 27px;
    font-size: 1.7rem
}

.companies .col-md-2,
footer {
    margin-top: 50px
}

.rolunk .team .container-fluid {
    padding-right: 0
}

.folyamat .row .btn-primary:hover {
    color: #fff;
    background-color: #186265;
    border-color: #186265;
    width: 310px
}

.companies {
    background-color: #e9e9e9;
    padding-bottom: 40px!important
}

#reftitle {
    padding-bottom: 30px;
    padding-top: 80px;
    display: none
}

footer {
    background-color: #2c2c2c;
    min-height: 300px
}

.articlebody_w,
.articlebody_w .container,
.articletitle,
.elonyok .articletitle,
.quote .col-md-12 {
    background-color: #fafafa
}

.fbicon,
.inicon {
    background-repeat: no-repeat;
    background-size: 60px 60px;
    height: 60px;
    margin-top: 30px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px
}

.icon-bottom-icon-fb,
.icon-bottom-icon-in {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px
}

footer .col-md-12 a,
footer .col-md-12 p {
    color: #666
}

.contact {
    padding-top: 50px;
    padding-bottom: 50px
}

.ref {
    display: inline-block
}

.icon-bottom-icon-fb {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.icon-bottom-icon-fb:hover,
.icon-bottom-icon-in:hover {
    -webkit-filter: none;
            filter: none
}

.icon-bottom-icon-in {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.articlebody_g .container h6,
.articlebody_g .container li,
.articlebody_g .container p {
    color: #fff
}

.articlebody_w .container h6,
.articlebody_w .container p {
    color: #313131
}

.quote h3 {
    max-width: 300px;
    margin: 0 auto
}

.quote h3:first-child:before {
    content: "";
    background-image: url(/res/img/dist/quotemark.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 50px 32px;
    height: 60px;
    margin-left: 120px
}

#placeholder1,
#placeholder2,
#placeholder3,
#placeholder4 {
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.elonyok h2 {
    margin-bottom: 2rem
}

.elonyok .articletitle .container .row.nr1,
.form {
    margin-top: 30px
}

.articlebody_g .container h1,
.articlebody_g .container h2 {
    color: #fff!important
}

.articlebody_g .container .container h1 {
    color: #fff
}

@-webkit-keyframes moveLeft {
    to {
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px)
    }
}

@keyframes moveLeft {
    to {
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px)
    }
}

.testimonial .quote:after {
    content: '\201C';
    display: inline-block;
    font-size: 72px;
    font-family: Georgia;
    -webkit-transform: translateX(30px);
            transform: translateX(30px)
}

.testimonial {
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px
}

.testimonial .content {
    color: #1f777a;
    text-align: justify
}

.companies,
.contact,
.cover .scrollholder,
.csatlakozz .row,
.folyamat .row,
.miket .row .col-md-12,
.quote .col-md-12 {
    text-align: center
}

.testimonial .author {
    color: #82b999
}

.testimonial .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

.testimonial .imgholder img {
    width: 100%
}

body,
li,
p {
    margin: 0
}

.articlebody_g .container ul,
a,
li,
p {
    font-size: 27px;
    font-size: 1.7rem;
    font-family: Droid Sans, sans-serif
}

.articlebody_g .container ul,
h6 li {
    margin: 0 0 0 20px;
    list-style: outside
}

.cover>* {
    color: #1f777a;
    padding-top: 10px
}

#ctelonyei {
    padding-left: 20px;
    padding-top: 90px
}

#ctelonyei:after {
    content: "";
    background-image: url(/res/img/dist/arrow_down.png);
    background-size: 366px 34px;
    display: block;
    width: 118px;
    margin-top: 5px;
    background-repeat: no-repeat;
    height: 100px;
    margin-left: -5px
}

.Elonyok .row .col-md-12 .list .el {
    background-repeat: no-repeat;
    background-color: rgba(21, 104, 107, .89);
    padding: 25px;
    border-left: 1px solid #fff;
    cursor: pointer
}

.Elonyok .row .col-md-12 .list .navigator p {
    position: absolute;
    bottom: 30px;
    font-size: 24px;
    font-size: 1.5rem;
    max-width: 80%
}

.carousel:after {
    content: 'flickity';
    display: none
}

.device {
    height: 150px
}

.device .spriteholder {
    margin-bottom: 20px
}

.col-md-4 .circle .icon {
    -webkit-transform: scale(.6, .6);
            transform: scale(.6, .6)
}

.icon-missmarketing-circle {
    border-radius: 100%;
    height: 200px!important;
    width: 200px!important
}

nav .navbar-nav {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

#nav-main {
    width: 100%
}

.nav li a {
    color: #fff;
    font-family: "Droid Sans", "sans serif";
    font-weight: 400;
    font-size: 14px;
    background-color: #1f777a!important
}

.nav a:after {
    background: #82b999!important;
    display: block;
    width: 100%;
    -webkit-transform: scale(.6, 1) translateY(-5px);
            transform: scale(.6, 1) translateY(-5px);
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s, -webkit-transform .3s, width .3s, margin .3s;
            transition: opacity .3s, transform .3s, width .3s, margin .3s
}

#header,
.slicknav_menu {
    position: fixed;
    width: 100%;
    z-index: 4
}

.nav a:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px)
}

nav {
    padding-right: 20px
}

#header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #1f777a
}

.slicknav_menu {
    display: block;
    top: 0;
    background-color: #1f777a!important
}

@media(max-width:767px) {
    .companies {
        min-height: 900px
    }
}

@media(max-width:992px) {
    .elonyok .articletitle .container .row .text,
    .kapcsolat.articlebody_g .container {
        padding-top: 30px
    }
    .scrollholder,
    .wide {
        display: none
    }
    .Elonyok .row .col-md-12 {
        background-image: none
    }
    .articlecover_felh,
    .articlecover_funkc {
        height: 330px
    }
    .elonyok .articletitle .container .row .placeholder {
        height: 280px
    }
    .elonyok .container .row .col-md-6 {
        padding-left: 1rem
    }
    .elonyok .articletitle .container .row {
        margin-top: 30px
    }
    h1 {
        font-size: 3.5rem
    }
    .cover .row .text {
        padding-top: 40px
    }
    .Elonyok .row .col-md-12 .list .el {
        margin-bottom: 1px
    }
    #ctelonyei {
        padding-top: 90px
    }
    footer {
        padding-bottom: 50px
    }
}

@media(min-width:753px) {
    #ctelonyei,
    .Elonyok .row .col-md-12 h2#ctelonyei {
        padding-left: 35px
    }
    .Elonyok .row .col-md-12 {
        height: 690px
    }
}

@media(max-width:340px) {
    h1 {
        font-size: 3.3rem
    }
}

@media(max-width:400px) {
    .container {
        padding-left: 5px;
        padding-right: 5px
    }
    .container .row .col-md-6 {
        padding-left: 2rem
    }
}

@media(max-width:1230px) {
    .container {
        width: 98%
    }
    .cover .row .text {
        padding-left: 8rem
    }
}

@media(max-width:660px) {
    .Elonyok .row .col-md-12 .list .el,
    .cover .row .text,
    footer .col-md-2,
    footer .col-md-3,
    footer .col-md-4 {
        padding-left: 2rem
    }
}

@media(max-width:562px) {
    .csatlakozz .row {
        padding-top: 44px!important
    }
}

@media(max-width:1220px) {
    .tesztek .row .teszt2 .imgholder {
        margin-top: 80px;
        height: 140px
    }
}

@media(max-width:991px) {
    .tesztek .row .teszt2 .imgholder {
        margin-top: 40px;
        height: 120px
    }
    .tesztek .row .teszt1 .imgholder {
        height: 280px;
        background-position-y: -20px
    }
}

@media(max-width:431px) {
    .tesztek .row .teszt2 .imgholder {
        margin-top: 40px;
        height: 90px
    }
}

@media screen and (min-width:990px) {
    .carousel:after {
        content: ''
    }
}

@media(min-width:767px) {
    .Elonyok .row .col-md-12 {
        height: 710px
    }
}

@media(min-width:992px) {
    .Elonyok .row .col-md-12 {
        height: 500px
    }
    .narrow {
        display: none
    }
    .cover {
        padding-top: 100px!important
    }
}

@media(max-width:600px) {
    .folyamat .row .btn-primary {
        width: 100%
    }
    .teszt .spriteholder {
        display: none
    }
    .tesztek .teszt {
        min-height: 150px!important
    }
}

@media screen and (min-width:1059px) {
    .slicknav_menu {
        display: none
    }
}

@media screen and (max-width:1060px) {
    #header {
        display: none
    }
}

.loaderholder,
.loaderholder * {
    pointer-events: none!important
}

#arrow {
    display: block
}

#arrow,
.btn,
.btn-primary,
.el,
.teszt,
a,
img {
    -webkit-transition: opacity .3s, margin .3s, padding .3s, color .3s, background .3s, box-shadow .3s, -webkit-transform .3s;
            transition: opacity .3s, margin .3s, padding .3s, color .3s, background .3s, box-shadow .3s, transform .3s
}

.boldul .intro {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px
}

.articletitle {
    margin-top: 80px
}

.articletitle .container {
    max-width: 800px;
    padding-bottom: 50px;
    padding-top: 80px
}

.articletitle .row .col-md-12 {
    height: 200px
}

.articlecover_felh,
.articlecover_funkc {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px
}

.articlecover_funkc {
    background-image: url(/res/img/dist/explorebug.png)
}

.articlecover_felh {
    background-image: url(/res/img/dist/tesztbg1.png)
}

@media(max-width:992px) {
    .articlecover_felh,
    .articlecover_funkc {
        height: 330px
    }
}

.articlebody_g {
    background-color: #1f777a
}

.articlebody_w,
.quote .col-md-12,
.rolunk>div {
    background-color: #fafafa
}

.articlebody_g .container {
    max-width: 800px;
    padding-bottom: 80px;
    padding-top: 50px
}

.articlebody_w .container {
    max-width: 800px;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #313131
}

.quote .col-md-12 {
    padding-bottom: 120px;
    padding-top: 70px
}

.rolunk .articletitle .container {
    padding-bottom: 0
}

.team .portrait:hover {
    background-position: -162.5px 0
}

.rolunk .articlecover .container {
    background-image: url(/res/img/dist/process.png);
    background-size: contain;
    max-width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px
}

.rolunk .team {
    padding-bottom: 80px
}

.rolunk .team .container {
    max-width: 800px
}

.team .portrait {
    background-repeat: no-repeat;
    height: 0;
    width: 162.5px;
    padding-top: 225px;
    background-size: 325px 225px;
    background-position: 0 0
}

.team .row {
    text-align: justify;
    margin: 20px;
    padding: 15px 10px;
    background-color: #1f777a;
    color: #fff
}

.elonyok .articletitle .container .row>div:nth-child(1) {
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.elonyok li {
    list-style: outside;
    margin-left: 20px
}

.elonyok .articletitle {
    background-color: #fafafa
}

.elonyok .articletitle .container {
    max-width: 800px;
    padding-top: 80px;
    padding-bottom: 50px
}

.elonyok .articletitle .container .row {
    margin-top: 90px
}

.elonyok .articletitle .container .row #placeholder1 {
    background-image: url(/res/img/dist/target.jpg)
}

.elonyok .articletitle .container .row #placeholder2 {
    background-image: url(/res/img/dist/devices.jpg)
}

.elonyok .articletitle .container .row #placeholder3 {
    background-image: url(/res/img/dist/People.jpg)
}

.elonyok .articletitle .container .row #placeholder4 {
    background-image: url(/res/img/dist/answers.jpg)
}

.elonyok .articletitle .container .row .text {
    padding-top: 10px
}

.elonyok .articletitle .container .nr1 {
    margin-top: 30px
}

@media(max-width:992px) {
    .elonyok .articletitle .container .row .placeholder {
        height: 280px
    }
    .elonyok .articletitle .container .row .text {
        padding-top: 30px
    }
    .elonyok .container .row .col-md-6 {
        padding-left: 1rem
    }
    .elonyok .articletitle .container .row {
        margin-top: 30px
    }
}

.kapcsolat .container .row .col-md-6,
.send {
    padding-left: 0
}

.form-control,
.send .btn-primary {
    font-size: 1.7rem;
    line-height: 30px;
    font-family: Droid Sans, sans-serif;
    font-weight: 400
}

.articlebody_g .container {
    min-height: 550px;
    color: #fff
}

.articlebody_g .container .container {
    padding-top: 90px
}

.thankyou {
    text-align: center;
    margin-top: 90px
}

@media(max-width:992px) {
    .kapcsolat.articlebody_g .container {
        padding-top: 30px
    }
}

.form {
    margin-top: 30px
}

.kapcsolat {
    margin-top: 120px
}

.form-control {
    height: 60px;
    margin: 0;
    color: #313131;
    border-radius: 0
}

textarea.form-control {
    height: 286px
}

.send .btn-primary {
    margin-right: 15px;
    text-align: center;
    height: 60px;
    background-color: #83b999;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%
}

.send .btn-primary:hover {
    background-color: #69a782;
    cursor: pointer
}