@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
		local('Roboto-Regular'),
		url('/fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_400.woff') format('woff'),
		url('/fonts/Roboto_400.woff2') format('woff2'),
		url('/fonts/Roboto_400.svg#Roboto') format('svg'),
		url('/fonts/Roboto_400.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
		local('Roboto-Bold'),
		url('/fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_700.woff') format('woff'),
		url('/fonts/Roboto_700.woff2') format('woff2'),
		url('/fonts/Roboto_700.svg#Roboto') format('svg'),
		url('/fonts/Roboto_700.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'),
		local('DroidSans'),
		url('/fonts/Droid_Sans_400.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Droid_Sans_400.woff') format('woff'),
		url('/fonts/Droid_Sans_400.woff2') format('woff2'),
		url('/fonts/Droid_Sans_400.svg#DroidSans') format('svg'),
		url('/fonts/Droid_Sans_400.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'),
		local('DroidSans-Bold'),
		url('/fonts/Droid_Sans_700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Droid_Sans_700.woff') format('woff'),
		url('/fonts/Droid_Sans_700.woff2') format('woff2'),
		url('/fonts/Droid_Sans_700.svg#DroidSans') format('svg'),
		url('/fonts/Droid_Sans_700.ttf') format('truetype');
}

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

body {
  margin: 0;
}

nav {
  /* 1 */
  display: block;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

h2 {
  color: #1E777A;
}

a {
  text-decoration: none;
}

h1,
h2 {
  text-transform: uppercase;
}

body,
h2,
li,
ul {
  margin: 0;
}

nav {
  display: block;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #EFEFEF;
}

html,
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  font-smoothing: antialiased;
}

h1 {
  font-size: 5rem;
  font-family: Roboto, Droid Sans sans-serif;
  font-weight: 700;
  margin: .83rem .83rem .83rem 0;
}

h2 {
  font-size: 2.3rem;
  font-weight: 400;
  font-family: Roboto, Droid Sans sans-serif;
  color: #1f777a;
}

h2 {
  line-height: 3rem;
}

li {
  font-weight: 400;
  font-size: 1.7rem;
  font-family: Droid Sans, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #1E777A;
}

.container {
  width: 94%;
}

.spriteholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

#reftitle {
  padding-bottom: 30px;
  padding-top: 80px;
  display: none;
}

.articletitle {
  margin-top: 80px;
  background-color: #FAFAFA;
}

.articletitle .container {
  max-width: 800px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.articlecover_felh {
  height: 600px;
  background-size: cover;
}

.articlecover_felh {
  background-image: url(/res/img/dist/tesztbg1.png);
}

@media (max-width:992px) {
  .articlecover_felh {
    height: 330px;
  }
}

body,
li {
  margin: 0;
}

li {
  font-weight: 700;
  line-height: 26px;
}

a,
li {
  font-size: 1.7rem;
  font-family: Droid Sans, sans-serif;
}

@media (max-width:992px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width:340px) {
  h1 {
    font-size: 3.3rem;
  }
}

@media (max-width:400px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width:1230px) {
  .container {
    width: 98%;
  }
}

.articletitle .container {
  max-width: 800px;
  padding-bottom: 50px;
  padding-top: 80px;
}

.articlecover_felh {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.articlecover_felh {
  background-image: url(/res/img/dist/tesztbg1.png);
}

@media (max-width:992px) {
  .articlecover_felh {
    height: 330px;
  }
}

.icon-headerlogo {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2506px -1926px;
  width: 210px;
  height: 78px;
}
