@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
		local('Roboto-Regular'),
		url('/fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_400.woff') format('woff'),
		url('/fonts/Roboto_400.woff2') format('woff2'),
		url('/fonts/Roboto_400.svg#Roboto') format('svg'),
		url('/fonts/Roboto_400.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
		local('Roboto-Bold'),
		url('/fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_700.woff') format('woff'),
		url('/fonts/Roboto_700.woff2') format('woff2'),
		url('/fonts/Roboto_700.svg#Roboto') format('svg'),
		url('/fonts/Roboto_700.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'),
		local('DroidSans'),
		url('/fonts/Droid_Sans_400.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Droid_Sans_400.woff') format('woff'),
		url('/fonts/Droid_Sans_400.woff2') format('woff2'),
		url('/fonts/Droid_Sans_400.svg#DroidSans') format('svg'),
		url('/fonts/Droid_Sans_400.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'),
		local('DroidSans-Bold'),
		url('/fonts/Droid_Sans_700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Droid_Sans_700.woff') format('woff'),
		url('/fonts/Droid_Sans_700.woff2') format('woff2'),
		url('/fonts/Droid_Sans_700.svg#DroidSans') format('svg'),
		url('/fonts/Droid_Sans_700.ttf') format('truetype');
}

body {
  margin: 0;
}

footer,
nav {
  /* 1 */
  display: block;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

h2 {
  color: #1E777A;
}

.companies {
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2 {
  text-transform: uppercase;
}

h5 {
  margin: 16px 16px 16px 0;
  margin: 1rem 1rem 1rem 0;
}

body,
h2,
li,
p,
ul {
  margin: 0;
}

footer,
nav {
  display: block;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #EFEFEF;
}

html,
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  font-smoothing: antialiased;
}

h1 {
  font-size: 80px;
  font-size: 5rem;
  font-family: Roboto, Droid Sans sans-serif;
  font-weight: 700;
  margin: 13px 13px 13px 0;
  margin: .83rem .83rem .83rem 0;
}

h2 {
  font-size: 36px;
  font-size: 2.3rem;
  font-weight: 400;
  font-family: Roboto, Droid Sans sans-serif;
  color: #1f777a;
}

h5,
h6 {
  font-family: Roboto, Droid Sans sans-serif;
  font-weight: 700;
}

h2 {
  line-height: 48px;
  line-height: 3rem;
}

h5 {
  font-size: 35px;
  font-size: 2.2rem;
}

h5 {
  color: #DBDBDB;
}

h6 {
  font-size: 27px;
  font-size: 1.7rem;
  line-height: 26px;
}

h6 {
  margin: 4px 4px 4px 0;
  margin: .3rem .3rem .3rem 0;
}

.articlebody_g .container ul,
li,
p {
  font-weight: 400;
  font-size: 27px;
  font-size: 1.7rem;
  font-family: Droid Sans, sans-serif;
}

.articlebody_g .container ul {
  line-height: 26px;
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #1E777A;
}

.container {
  width: 94%;
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}

.spriteholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.companies {
  background-color: #E9E9E9;
  padding-bottom: 40px!important;
}

#reftitle {
  padding-bottom: 30px;
  padding-top: 80px;
  display: none;
}

footer {
  margin-top: 50px;
  background-color: #2C2C2C;
  min-height: 300px;
}

.fbicon,
.inicon {
  background-repeat: no-repeat;
  background-size: 60px 60px;
  height: 60px;
  margin-top: 30px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

footer .col-md-12 a,
footer .col-md-12 p {
  color: #666;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ref {
  display: inline-block;
}

.fbicon {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  background-image: url(/res/img/dist/fb_icon.png);
}

.inicon {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  background-image: url(/res/img/dist/in_icon.png);
}

.articletitle {
  margin-top: 80px;
  background-color: #FAFAFA;
}

.articletitle .container {
  max-width: 800px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.articlecover_felh {
  height: 600px;
  background-size: cover;
}

.articlecover_felh {
  background-image: url(/res/img/dist/tesztbg1.png);
}

.articlebody_g {
  background-color: #1E777A;
}

.articlebody_w {
  background-color: #FAFAFA;
}

.articlebody_g .container {
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 80px;
  min-height: 550px;
}

.articlebody_g .container h6,
.articlebody_g .container li,
.articlebody_g .container p {
  color: #fff;
}

.articlebody_w .container {
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FAFAFA;
}

.articlebody_w .container h6,
.articlebody_w .container p {
  color: #313131;
}

body,
li,
p {
  margin: 0;
}

.companies,
.contact {
  text-align: center;
}

li {
  font-weight: 700;
  line-height: 26px;
}

.articlebody_g .container ul,
a,
li,
p {
  font-size: 27px;
  font-size: 1.7rem;
  font-family: Droid Sans, sans-serif;
}

.articlebody_g .container ul {
  margin: 0 0 0 20px;
  list-style: outside;
}

nav .navbar-nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#nav-main {
  width: 100%;
}

.nav li a {
  color: white;
  font-family: "Droid Sans", "sans serif";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #1f777a !important;
}

.nav a:after {
  background: #82b999!important;
  display: block;
  width: 100%;
  -webkit-transform: scale(.6, 1) translateY(-5px);
  transform: scale(.6, 1) translateY(-5px);
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
}

nav {
  padding-right: 20px;
}

#header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #1f777a;
  width: 100%;
  position: fixed;
  z-index: 4;
}

@media (max-width:767px) {
  .companies {
    min-height: 900px;
  }
}

@media (max-width:992px) {
  footer {
    padding-bottom: 50px;
  }

  .articlecover_felh {
    height: 330px;
  }

  h1 {
    font-size: 3.5rem;
  }

  footer {
    padding-bottom: 50px;
  }
}

@media (max-width:340px) {
  h1 {
    font-size: 3.3rem;
  }
}

@media (max-width:400px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width:1230px) {
  .container {
    width: 98%;
  }
}

@media screen and (max-width: 1070px) {
  #header {
    display: none;
  }
}





.articletitle .container {
  max-width: 800px;
  padding-bottom: 50px;
  padding-top: 80px;
}

.articlecover_felh {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.articlecover_felh {
  background-image: url(/res/img/dist/tesztbg1.png);
}

@media (max-width:992px) {
  .articlecover_felh {
    height: 330px;
  }
}

.articlebody_g {
  background-color: #1E777A;
}

.articlebody_w {
  background-color: #FAFAFA;
}

.articlebody_g .container {
  max-width: 800px;
  padding-bottom: 80px;
  padding-top: 50px;
  color: #fff;
}

.articlebody_w .container {
  background-color: #FAFAFA;
  max-width: 800px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #313131;
}

.articlebody_g .container {
  min-height: 550px;
  color: #fff;
}

.icon-headerlogo {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2506px -1926px;
  width: 210px;
  height: 78px;
}
