/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-Dude-MissMarketing {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: 0px -2013px;
  width: 402px;
  height: 1500px;
}
.icon-Dude-MrMarketing {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -402px -2013px;
  width: 402px;
  height: 1500px;
}
.icon-Dude-Projectmanager {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: 0px 0px;
  width: 1006px;
  height: 1500px;
}
.icon-Logo_CMYK_Background {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2506px -1599px;
  width: 766px;
  height: 284px;
}
.icon-anonymous {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3064px -2013px;
  width: 220px;
  height: 220px;
}
.icon-arrow_down {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2506px -1883px;
  width: 913px;
  height: 115px;
}
.icon-devices {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1784px -2013px;
  width: 256px;
  height: 256px;
}
.icon-diagram {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3889px -895px;
  width: 100px;
  height: 100px;
}
.icon-document {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3809px -1438px;
  width: 100px;
  height: 100px;
}
.icon-dudes {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -804px -2485px;
  width: 509px;
  height: 518px;
}
.icon-explorebug {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2506px -1056px;
  width: 1303px;
  height: 543px;
}
.icon-explrebug {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2506px -513px;
  width: 1303px;
  height: 543px;
}
.icon-fb_icon {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2199px -1500px;
  width: 281px;
  height: 281px;
}
.icon-fb_icon_c {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3553px -1599px;
  width: 281px;
  height: 281px;
}
.icon-girlincircle {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2506px 0px;
  width: 1500px;
  height: 513px;
}
.icon-in_icon {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3272px -1599px;
  width: 281px;
  height: 281px;
}
.icon-in_icon_c {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1503px -2013px;
  width: 281px;
  height: 281px;
}
.icon-messages {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2040px -2013px;
  width: 256px;
  height: 256px;
}
.icon-people {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2296px -2013px;
  width: 256px;
  height: 256px;
}
.icon-people2 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2808px -2013px;
  width: 256px;
  height: 256px;
}
.icon-process {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1539px -1118px;
  width: 800px;
  height: 206px;
}
.icon-quotemark {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1006px -1118px;
  width: 533px;
  height: 350px;
}
.icon-scroll {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3809px -895px;
  width: 80px;
  height: 128px;
}
.icon-scroll_icon {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1313px -2485px;
  width: 200px;
  height: 200px;
}
.icon-shadow_circle {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: 0px -1500px;
  width: 1500px;
  height: 513px;
}
.icon-target {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2552px -2013px;
  width: 256px;
  height: 256px;
}
.icon-tb_bug1 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -804px -2013px;
  width: 699px;
  height: 472px;
}
.icon-tb_bug2 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1500px -1500px;
  width: 699px;
  height: 472px;
}
.icon-tesztbg1 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1006px -559px;
  width: 1500px;
  height: 559px;
}
.icon-tesztbg2 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1006px 0px;
  width: 1500px;
  height: 559px;
}
.icon-ux {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -2199px -1781px;
  width: 278px;
  height: 178px;
}
.icon-ux2 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3284px -2013px;
  width: 313px;
  height: 145px;
}
.icon-what_we_test_icon_1 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3809px -513px;
  width: 191px;
  height: 191px;
}
.icon-what_we_test_icon_2 (1) {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3809px -704px;
  width: 191px;
  height: 191px;
}
.icon-what_we_test_icon_2 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3809px -1056px;
  width: 191px;
  height: 191px;
}
.icon-what_we_test_icon_3 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -3809px -1247px;
  width: 191px;
  height: 191px;
}
.icon-what_we_test_icon_5 {
  background-image: url(../../img/grunt/sprite-misc.png);
  background-position: -1503px -2294px;
  width: 191px;
  height: 191px;
}
