/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-allianz {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -384px -358px;
  width: 128px;
  height: 61px;
}
.icon-antikvarium {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: 0px -419px;
  width: 128px;
  height: 61px;
}
.icon-e-on {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -128px -480px;
  width: 128px;
  height: 61px;
}
.icon-edigital {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -128px -541px;
  width: 128px;
  height: 61px;
}
.icon-granitbank {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -428px -197px;
  width: 128px;
  height: 61px;
}
.icon-groby {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -300px -272px;
  width: 128px;
  height: 61px;
}
.icon-jofogas {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -428px -272px;
  width: 128px;
  height: 61px;
}
.icon-kh {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: 0px -358px;
  width: 128px;
  height: 61px;
}
.icon-libri-shopline {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -128px -358px;
  width: 128px;
  height: 61px;
}
.icon-liligo {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -256px -358px;
  width: 128px;
  height: 61px;
}
.icon-logmein {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: 0px -272px;
  width: 300px;
  height: 86px;
}
.icon-maesteszinhaz {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -512px -358px;
  width: 128px;
  height: 61px;
}
.icon-mastercard {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -300px -197px;
  width: 128px;
  height: 61px;
}
.icon-mvmpartner {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -128px -419px;
  width: 128px;
  height: 61px;
}
.icon-nng {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -256px -419px;
  width: 128px;
  height: 61px;
}
.icon-origo {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -384px -419px;
  width: 128px;
  height: 61px;
}
.icon-otp-mobil {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -512px -419px;
  width: 128px;
  height: 61px;
}
.icon-pharmanova {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: 0px -480px;
  width: 128px;
  height: 61px;
}
.icon-prezi {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -300px 0px;
  width: 342px;
  height: 197px;
}
.icon-profession {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -256px -480px;
  width: 128px;
  height: 61px;
}
.icon-simple {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -384px -480px;
  width: 128px;
  height: 61px;
}
.icon-telekom {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -512px -480px;
  width: 128px;
  height: 61px;
}
.icon-telenor {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: 0px -541px;
  width: 128px;
  height: 61px;
}
.icon-upc {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: 0px 0px;
  width: 300px;
  height: 272px;
}
.icon-vodafone {
  background-image: url(/res/img/grunt/sprites/sprite-comp.png);
  background-position: -256px -541px;
  width: 128px;
  height: 61px;
}
