/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-anonymous {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: 0px -1838px;
  width: 220px;
  height: 220px;
}
.icon-arrow_down {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1300px -1500px;
  width: 913px;
  height: 115px;
}
.icon-bottom-icon-fb {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2379px -922px;
  width: 60px;
  height: 60px;
}
.icon-bottom-icon-in {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2319px -922px;
  width: 60px;
  height: 60px;
}
.icon-devices {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2213px -1500px;
  width: 100px;
  height: 100px;
}
.icon-diagram {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2319px -772px;
  width: 150px;
  height: 150px;
}
.icon-document {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2319px -472px;
  width: 150px;
  height: 150px;
}
.icon-dudes {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1810px -472px;
  width: 509px;
  height: 518px;
}
.icon-headerlogo {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2123px -1340px;
  width: 210px;
  height: 78px;
}
.icon-marketingguy {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1006px 0px;
  width: 402px;
  height: 1500px;
}
.icon-messages {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2343px -1218px;
  width: 100px;
  height: 100px;
}
.icon-missmarketing-circle {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -220px -1838px;
  width: 200px;
  height: 200px;
}
.icon-missmarketing {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1408px 0px;
  width: 402px;
  height: 1500px;
}
.icon-people {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2313px -1500px;
  width: 100px;
  height: 100px;
}
.icon-people2 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2319px -622px;
  width: 150px;
  height: 150px;
}
.icon-process {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -500px -1500px;
  width: 800px;
  height: 206px;
}
.icon-projectdude {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: 0px 0px;
  width: 1006px;
  height: 1500px;
}
.icon-quotemark {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1810px -990px;
  width: 533px;
  height: 350px;
}
.icon-scroll {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2343px -990px;
  width: 80px;
  height: 128px;
}
.icon-scroll_icon {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -420px -1838px;
  width: 200px;
  height: 200px;
}
.icon-target {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -2343px -1118px;
  width: 100px;
  height: 100px;
}
.icon-tb_bug1 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1810px 0px;
  width: 699px;
  height: 472px;
}
.icon-tb_bug2 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: 0px -1500px;
  width: 500px;
  height: 338px;
}
.icon-ux2 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1810px -1340px;
  width: 313px;
  height: 145px;
}
.icon-what_we_test_icon_1 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1193px -1838px;
  width: 191px;
  height: 191px;
}
.icon-what_we_test_icon_2 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -1002px -1838px;
  width: 191px;
  height: 191px;
}
.icon-what_we_test_icon_3 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -811px -1838px;
  width: 191px;
  height: 191px;
}
.icon-what_we_test_icon_4 {
  background-image: url(/res/img/grunt/sprites/sprite-misc.png);
  background-position: -620px -1838px;
  width: 191px;
  height: 191px;
}
