/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-allianz {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -1026px -406px;
  width: 128px;
  height: 61px;
}
.icon-antikvarium {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -770px -467px;
  width: 128px;
  height: 61px;
}
.icon-e-on {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -684px -542px;
  width: 128px;
  height: 61px;
}
.icon-edigital {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -128px -617px;
  width: 128px;
  height: 61px;
}
.icon-granitbank {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -770px -345px;
  width: 128px;
  height: 61px;
}
.icon-groby {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -898px -345px;
  width: 128px;
  height: 61px;
}
.icon-jofogas {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -1026px -345px;
  width: 128px;
  height: 61px;
}
.icon-kh {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -642px -406px;
  width: 128px;
  height: 61px;
}
.icon-libri-shopline {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -770px -406px;
  width: 128px;
  height: 61px;
}
.icon-liligo {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -898px -406px;
  width: 128px;
  height: 61px;
}
.icon-logmein {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: 0px 0px;
  width: 1200px;
  height: 345px;
}
.icon-maesteszinhaz {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -642px -467px;
  width: 128px;
  height: 61px;
}
.icon-mastercard {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -642px -345px;
  width: 128px;
  height: 61px;
}
.icon-mvmpartner {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -898px -467px;
  width: 128px;
  height: 61px;
}
.icon-nng {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -1026px -467px;
  width: 128px;
  height: 61px;
}
.icon-origo {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -300px -542px;
  width: 128px;
  height: 61px;
}
.icon-otp-mobil {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -428px -542px;
  width: 128px;
  height: 61px;
}
.icon-pharmanova {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -556px -542px;
  width: 128px;
  height: 61px;
}
.icon-prezi {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -300px -345px;
  width: 342px;
  height: 197px;
}
.icon-profession {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -812px -542px;
  width: 128px;
  height: 61px;
}
.icon-simple {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -940px -542px;
  width: 128px;
  height: 61px;
}
.icon-telekom {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -1068px -542px;
  width: 128px;
  height: 61px;
}
.icon-telenor {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: 0px -617px;
  width: 128px;
  height: 61px;
}
.icon-upc {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: 0px -345px;
  width: 300px;
  height: 272px;
}
.icon-vodafone {
  background-image: url(../../img/grunt/sprite-comp.png);
  background-position: -256px -617px;
  width: 128px;
  height: 61px;
}
